[2014-08-21 23:57] uschen opened #1 "Rename test folder from `tests` to `test`"
on default mocha looks for suits from
`./test/*.js`

[2014-08-22 22:12] uschen opened #2 "Using Bluebird Promise"
https://github.com/uschen/documentdb-node

[2014-08-22 22:26] #2 closed, assigned to nobody

[2014-08-22 23:50] #1 closed, assigned to nobody

[2014-08-26 10:32] ezbercih opened #5 "Inconsistency between documentation and implementation"
While I was browsing the code base for authorization header value creation, I noticed that the implementation turns the text to be signed to lowercase (auth.js line 25) whereas the documentation says at least the HTTP verb should remain uppercase (http://msdn.microsoft.com/en-us/library/azure/dn781481.aspx).. which one is true?

[2014-08-27 23:33] #5 closed, assigned to nobody

[2014-10-06 12:16] NoelAbrahams opened #8 "SyntaxError: Unexpected token u"
Hi,

When returning `undefined` from a stored procedure as follows:

[code]

this gets translated to "undefined" in the HTTP respose. The [code in request.js](https://github.com/Azure/azure-documentdb-node/blob/master/lib/request.js#L55) then fails to parse this as JSON:

[code]

With the result that an exception is reported, when there wasn't an error.

The expected behaviour is for `undefined` t

[2014-12-03 12:46] NoelAbrahams opened #19 "Include headers in error callback"
Hi,

When a 429 response is received we need to check the 'RetryAfter' header. At the moment the headers are not included in the callback when an error occurs:

[code]

[2014-12-04 21:13] jdconley opened #20 "Provide utility for query parameter escaping"
As it sits today this library requires you to do your own escaping when building SQL strings. A fluent dynamic SQL building api would be nice, but, a simple escape utility would be all I'd need when building queries based on user input. All the samples seem to ignore escaping parameters. I'm not really sure what all Bad Things users could do by manipulating queries as this is pretty new, but, I im

[2014-12-12 19:06] #19 closed, assigned to nobody

[2014-12-12 19:06] #8 closed, assigned to nobody

[2014-12-12 19:06] #20 closed, assigned to nobody

[2014-12-26 23:20] lightsofapollo opened #23 "Use real error objects in error fields for callbacks"
This is particularly bad when trying to debug issues in tests via frameworks (like mocha).

Example:

https://github.com/Azure/azure-documentdb-node/blob/master/core_sdk/lib/request.js#L46

Ideally this could use real error object with useful message then attach the code, etc... (See superagent for some examples of how to do this)

[2015-01-20 00:56] ryancrawcour commented on #23
if you would like to submit a PR for this change we'd gladly review your change.

[2015-01-20 00:56] #23 closed

[2015-02-11 19:46] tedvanderveen opened #29 "Typescript definitions"
Typescript definitions for this library would be really benificial. Are these available?

[2015-02-12 10:59] NoelAbrahams commented on #29
@tedvanderveen, here is one that is mostly complete. The `NewDocument` type is customised to our own needs, but you should be able to use it otherwise.

I've been meaning to complete it and upload it to DefinitelyTyped - when I have the time.

Let me know how it goes.

[code]

[2015-02-12 19:51] ryancrawcour commented on #29
@NoelAbrahams this is awesome! thank you. it will give us a huge head-start on completing this.

[2015-02-12 20:48] tedvanderveen commented on #29
Great stuff @NoelAbrahams! Once you have a chance, please submit it to DefinitelyTyped so we can pick up from there. Thanks again :-)

[2015-02-13 10:52] NoelAbrahams commented on #29
@ryancrawcour, DocumentDB is pretty amazing so glad to help.

I would amend the JSDOC to remove the type information, because TypeScript does not need it, e.g. the JSDOC for `replaceStoredProcedure` should simply be:

[code]

[2015-02-16 09:13] NoelAbrahams commented on #29
I've amended the JSDoc and committed to [DefinitelyTyped](https://github.com/borisyankov/DefinitelyTyped/tree/master/documentdb).

[2015-03-03 05:07] #29 closed

[2015-03-08 00:26] geuis opened #34 "Documentation should show how to connect to an existing database"
I'm working through the available node.js documentDB documentation today. Creating a database is clearly demonstrated, but nowhere that I can find is connecting to an existing database described.

There are mentions of needing the databaseLink property, but again it is not described how to get this from Azure.

Edit:

This is one solution that I've been able to piece together, though I am by no me

[2015-03-09 03:19] aliuy commented on #34
Looks like you got it!

You can extend that logic even further to include some logic around gettting a database, and creating one if one does not exist. Something along the lines of:

[code]

I'll admit our samples are a bit buried and we should do a better job surfacing them.

You can find more samples in the `/samples` directory in this repo: https://github.com/Azure/azure-documentdb-node/tree/m

[2015-03-09 03:19] #34 closed

[2015-03-20 10:15] asafyish opened #35 "Stream support ?"
Hi,

Is there stream support ? Is it planned ?
It's really easy to get a "process out of memory" exception without it.

[2015-03-20 16:56] nomiero commented on #35
Hi asafyish,

There is support for creating attachment using a stream using the API createAttachmentAndUploadMedia, but it's not supported for documents.
The maximum document size is 512k, so you shouldn't be getting out of memory for creating documents.
Can you give more clarification on what are you trying to do that caused 'process out of memory' ?
Thanks.

[2015-03-30 17:12] asafyish commented on #35
Hi,
Sorry for the delay.

I am not referring to attachments/single documents,
Lets say I am using the queryDatabases api and the result of that query is 200000 tiny docs that together, are around 3 gb, how can I iterate over it ? If I call toArray on it, node.js will crash.

[2015-03-30 17:58] nomiero commented on #35
you only use toArray if you know that the number of documents is small.
If you want paging you instead use executeNext which will return the next page and you combine that with the calls of hasMoreResults to know when there are no more results.
And when you create the query, you can control the page size with the maxItemCount option.
You can look at the executeNext and hasMoreResults to see the us

[2015-03-30 18:25] asafyish commented on #35
Yeah that can solve our problem, but I don't think it's the elegant solution, I mean, In node.js, if you want to process large amount data, the usual mechanism for that is, using stream, which allows you to pipe data in all sort of ways and use any number of higher-level functions over it, such as [highlandjs](http://highlandjs.org)

[2015-03-30 19:44] nomiero commented on #35
Thanks for the feedback.
It's in our plan to make the non intuitive node apis easier, for now the current apis for executeNext and hasMoreResults are core apis that can work with paging. If you are going to use them a lot, it would be good to add a wrapper around these functions to make things easier.

[2015-04-08 07:42] #35 closed

[2015-04-08 22:35] molant opened #39 "Auto-retry after XXXms on 429"
It will be great if there were an option to autoretry if a 429 error happens. The documentation about this is a bit difficult to find and AFAIK the C# SDK is capable of handle this.

[2015-04-08 22:40] ryancrawcour commented on #39
Yes, you are right, it would be great. We'd be very happy to receive a PR from you for this if you wish :)

[2015-04-08 22:47] molant commented on #39
Happy to do a PR. Do you mind pointing me to the docs where it explains a bit more the 429 error, the headers and the values it can have (is it in ms, secs, etc.?). I haven't found anything and reproducing this consistently is not easy.
Also, why has this issue been closed? I've read the [contribution guidelines](http://azure.github.io/guidelines.html) and it clearly says I can request a new featu

[2015-04-08 23:25] ryancrawcour commented on #39
To be honest, I hit the wrong button. I hit the "Close and comment" button. Sorry, been a long day :)

[2015-04-08 23:29] ryancrawcour commented on #39
I think this would be a great addition to this and happy to work with you on getting it done.
I will collect material on the 429s and how to handle them and will add to this issue to track.

[2015-04-08 23:29] molant commented on #39
I bet, congrats on going GA!

[2015-04-09 02:21] aliuy commented on #39
Hey guys - here's some things to help you guys get started!

The queryDocuments() method returns a queryIterator, which has methods like toArray() and executeNext().

See https://github.com/Azure/azure-documentdb-node/blob/master/core_sdk/lib/queryIterator.js

I just whipped up a snippet to help you get started with executeNext() and 429's. It might be better to implement toArrayWithRetry(), and h

[2015-04-10 15:44] molant commented on #39
Thanks!
For the logs, are you using any environment variable/module to check if an output has to be done? Also, any reliable way for me to get a 429?
I'm refactoring right now how we store the data in a project with documentdb but I'd like to start working on this sometime next week. Is there an established style guide? Haven't seen any linting task or an [.editorconfig](http://editorconfig.org/)

[2015-04-10 17:28] aliuy commented on #39
The SDK doesn't output any logging today (something we intend to fix). Using an client or environment variable to set log levels would be a great idea.

You can reliably reproduce a 429 by sending a request after consuming all the provisioned request-units in a collection. The easiest way to do this is to set the performance tier of a collection to the lowest available tier (S1), and then bombardi

[2015-04-10 17:45] molant opened #40 "Add a linting task to the project so contributions follow the same standard"
I normally use [ESLint](http://eslint.org) for code quality, [JSCS](http://jscs.info/) for code style (spaces, etc.) as a [grunt-tasks](http://gruntjs.com/) during the build process and then an [.editorconfig](http://editorconfig.org/) file so my editor automatically picks if I should be using tabs or spaces, how many, etc.

We could probably add a test task to the gruntfile to use the code you al

[2015-04-10 17:48] molant commented on #39
@aliuy I've opened #40 to discuss the linting process.

[2015-04-10 17:49] molant commented on #40
@aliuy I think I'll submit a PR with the basic setup with the rules I currently have in my projects and then you can tweak the options to follow your style guide if that sounds ok.

[2015-04-10 18:17] aliuy commented on #40
That sounds great!

I'm a bit new to ESLint and JSCS (I've mostly used JSHint for my projects). Mind giving me a little background knowledge? On the surface, it looks like ESLint also supports rules for styling. Is there an advantage for using both?

[2015-04-10 19:15] molant commented on #40
I think the plan for ESLint is to have the same rules as JSCS but when I started they weren't implemented yet so I right now I'm using JSCS to validate all my spacing is the right one and the other to make sure I have consistent returns, no shadow variables, etc. Haven't check recently if they have added all the style rules.
I also think that ESLint gives a lot more flexibility and supports more t

[2015-04-24 22:21] IrisClasson opened #41 "client.createDocumentAsync error?"
I might just be very tired, but I noticed some unexpected behavior I though I would share to check my sanity/lack of sleep.

If I call : client.createDocumentAsync(collection._self, doc); the promise chain is broken and I get an error that automatidIdgeneration can't be read on undefined. I'm not passing in options as you can see.

However, if I call: client.createDocumentAsync(collection._self, d

[2015-04-27 23:56] nomiero commented on #41
Hi Iris,

Thanks for reporting the issue. There is a bug now in the promise wrapper that happens with createDocumentAsync without passing options and without having an id property in the document ( I guess that's the case you have and it's the case not covered in tests ).
A fix for this issue will be available with the next release but for now you can continue with the work around you have.

[2015-05-11 18:00] shpros commented on #39
I stumbled on this issue while looking for information on a related issue. We're getting 429s not only from creating documents, but also from calling `queryCollections` and `queryStoredProcedures`. We would handle the retry ourselves, but we're using the promises flavor, which doesn't return the headers with the error. It would be great to have headers returned on error in the promises flavor. Cur

[2015-05-12 18:06] ryancrawcour commented on #39
could we create a new issue for this specific issue so that we can track them separately.

[2015-05-13 01:40] molant commented on #40
Now that http://dev.modern.ie is released I have some time to work on this. I'll probably do a PR this week if you are still interested :)

[2015-05-13 17:01] shpros opened #45 "Promises wrapper does not include headers with error"
We're getting 429s from methods as various as createDocument, queryCollections, and queryStoredProcedures. Until #39 is addressed, we would like to handle the retry ourselves, but we're using the promises flavor, which doesn't return the headers with the error. It would be great to have headers returned on error in the promises flavor. Currently, all of the deferred.reject() calls pass only the er

[2015-05-13 17:02] shpros commented on #45
We'd like to fork and take a crack at this if that's ok.

[2015-05-13 17:05] shpros commented on #39
@ryancrawcour  Does this issue #39 include the promises wrapper too, or should that also be a separate issue?

[2015-05-13 17:41] ryancrawcour commented on #45
Absolutely. We'd love to accept contributions from the community.

[2015-05-13 19:47] molant commented on #39
If you use [bluebird to promisify](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisification) the library it should automagically work (that is what I have in my project).

[2015-05-13 19:57] ryancrawcour commented on #39
@molant this is why we split q promises from the core driver, to allow customers to use whichever promises framework they would like.

[2015-05-13 19:58] molant commented on #39
@ryancrawcour and I think it is a great idea :)

[2015-05-13 20:01] shpros commented on #45
Great, we should have a PR for you soon.

[2015-05-13 21:09] BillAtPros commented on #45
PR #46 submitted.

[2015-05-14 22:05] aliuy commented on #40
Yes, we'd love that! :+1:

[2015-05-15 18:25] ryancrawcour commented on #41
closed with release of 1.0.1

[2015-05-15 18:25] #41 closed

[2015-05-15 18:25] ryancrawcour commented on #45
Thanks, we'll take a look shortly.

[2015-05-23 01:55] BillAtPros commented on #45
Bump.

[2015-05-23 01:58] ryancrawcour commented on #45
Sorry for the delay in getting to this. I will chase up the reviewers now.

[2015-05-23 02:49] ryancrawcour commented on #45
Closed with [PR #46] (https://github.com/Azure/azure-documentdb-node/pull/46)

[2015-05-23 02:49] #45 closed

[2015-05-25 15:34] siritsch opened #49 "current property conflicts with method current()"
It is not possible to call the current() method of DocumentClient. If you try to do that an exception is thrown saying that current is not a method. The current () method should be renamed e.g. to currentElement()

[2015-05-25 15:49] siritsch opened #50 "Why does the callback function of the forEach method of class QueryIterator take two arguments?"
The callback function of the QueryIterator has two arguments an error object and an element object. It does not make sense to pass an error object for each element. Either the query has been successful the always null or undefined would be passed as error object or the query failed then there are no objects to return. In the case of a failed query forEach could throw an exception.

When first usin

[2015-05-25 16:05] siritsch opened #51 "api documentation does not include description of Indexing policy members"
The createCollection method takes an Object of type IndexingPolicy as the second parameter. In the documentation there is link listing the members of IndexingPolicy but the members are not explained in detail. For example the docu says that IncludedPaths is an array of IndexPath. This structure has a Path member saying only that this is a string containg the path to be indexed. But there are sever

[2015-05-27 01:41] aliuy commented on #50
To clarify on the existing behavior: the forEach() method can cause the QueryIterator to fetch more pages. If the call to fetch more pages fails (e.g. the request got throttled), an error is passed back to the callback.

[2015-05-27 15:30] siritsch commented on #50
So in this case the exceptual use case (request gets throttled) has been made a rule. In my opinion it would have been better to throw an exception in case an error occures when fetching more pages. Even, if the decision is to pass an error object it would have been better to pass it as the second argument.

[2015-05-27 16:06] nomiero commented on #49
There is no current() method in DocumentClient, do you mean the queryIterator returned by the query or readFeed method ?

[2015-05-27 16:48] siritsch commented on #49
Sorry. I mean the current() method of QueryIterator. This class also has a property current, which stores the index of the current object in the resource array.

[2015-05-27 18:47] nomiero commented on #49
Makes sense, thanks for notifying us about the bug, we will get it fixed as soon as possible

[2015-06-02 00:24] shipunyc commented on #40
Thanks.

[2015-06-02 00:24] #40 closed

[2015-06-02 23:21] shpros opened #55 "PR 53 reverts PR 46"
#46 was merged into mainline, but the merge of #53 reverted those changes. Intentional, or bad merge conflict? #46 was a fix for #45, which is mentioned in the [changelog for 1.0.2](https://github.com/shipunyc/azure-documentdb-node/blob/master/core_sdk/changelog.md).

[2015-06-03 00:13] ryancrawcour commented on #55
will investigate

[2015-06-03 00:46] shipunyc commented on #55
I will reapply #46

[2015-06-03 00:48] ryancrawcour commented on #55
turns out our internal source repository was out of sync with GitHub repo. our mistake. sorry about that.

[2015-06-03 17:14] shpros commented on #55
Thanks for re-applying. Also thanks for fixing "occured" -- that one was driving me nuts but I didn't want to make that change in a totally unrelated PR.

[2015-06-04 23:26] ryancrawcour commented on #55
this has been fixed. 1.0.3 pushed to npm.

[2015-06-04 23:26] #55 closed

[2015-06-06 17:07] ulrikaugustsson opened #59 "Request path contains unescaped characters."
I'm getting this error when trying to query for my collection.
[code]
The code that generates the error is pretty much taken from the guide at https://azure.microsoft.com/sv-se/documentation/articles/documentdb-nodejs-application/

[code]
specifically it's this line:
`client.queryCollections(databaseLink, querySpec).toArray(function (err, results) {`
Am I doing something wrong or is this a bug?

[2015-06-06 17:19] ulrikaugustsson commented on #59
I obviously need to use `database._self` when calling the function. Sorry about this issue.

[2015-06-06 17:19] #59 closed

[2015-06-08 18:47] siritsch commented on #50
If the request gets throttled only passing back the error object is not sufficient. There should be also a responseHeader with a x-ms-retry-after-ms property.

[2015-07-06 19:50] arcadiogarcia opened #60 "client.queryCollections returns HTTP 400"
I am trying to get a collection using client.queryCollections, but I'm getting a bad request error. I think I'm doing it the same way as the tutorial. My client vary is already initialized
[code]
And previously I'm able to create a database, but when I execute this code:
[code]
With
[code]
And
[code]

I get this error:
[code]

Am I doing something wrong?

[2015-07-06 20:03] ryancrawcour commented on #60
databaseLink isn't an object; it is just a string. In the code above the databaseLink should be "dbs/MQsvAA==/"  not the full database object.

[2015-07-06 20:42] arcadiogarcia commented on #60
Thanks!

[2015-07-06 20:42] #60 closed

[2015-07-06 20:48] ryancrawcour commented on #60
did that resolve the problem?

[2015-07-06 21:32] arcadiogarcia commented on #60
Yes, it was just that :)

[2015-07-23 21:40] mauricionr opened #65 "RequestEntityTooLarge"
I'm trying to update a document in my DocumentDB, but i've got this error

RequestEntityTooLarge

{"code":"RequestEntityTooLarge","message":"Message: {\"Errors\":[\"Request size is too large\"]}\r\nActivityId: guid, Request URI: /apps/guid/services/guid/partitions/guid/replicas/id"}

How can i solve this?

Thanks!

[2015-07-23 21:43] ryancrawcour commented on #65
I suspect this is because you attempted a request that was too large. Usually this happen when tue document you are trying to save exceeds the allowed document size.

Try minifying your JSON, or create smaller document.

[2015-07-23 21:43] #65 closed

[2015-07-24 00:38] mauricionr commented on #65
Thanks, I will try.

[2015-08-14 12:28] petetnt opened #68 "Weird partial encoding errors"
I am using `documentdb` through [a8m/doqmentdb](https://github.com/a8m/doqmentdb) and I am running into this weird encoding issue.

I have a document that contains some properties with a word with some characters with umlauts (mainly ä and ö, which are quite common in the finnish alphabeth) as the value.

Occasionally (let's say 5% of the time) when a FIND a document, certain letter, ö, is not cor

[2015-08-15 06:41] ryancrawcour commented on #49
This has now been fixed.

[2015-08-15 06:41] #49 closed

[2015-08-25 02:28] ryancrawcour commented on #68
Are you saying that sometimes the same document, and the same code displays correctly and sometimes not?

[2015-08-25 05:19] petetnt commented on #68
@ryancrawcour pretty much. Same code, same database, same collection, same (or any) document containing certain letters.

[2015-08-25 15:28] petetnt commented on #68
I tried to debug this today but wouldn't replicate it anymore. Weird, might have been some sort of generic Node problem... closing for now, I'll reopen if I run into it again.

[2015-08-25 15:28] #68 closed

[2015-09-08 21:43] #50 closed

[2015-09-08 21:44] ryancrawcour commented on #39
@shpros probably best to do a separate issue so we can track these separately

[2015-09-08 21:46] ryancrawcour commented on #39
@molant regarding your comment of "use bluebird to promisify" is this a once-off operation to generate the bluebird promise aware wrapper?

[2015-09-08 23:36] molant commented on #39
@ryancrawcour yes although it will modify the object you pass and add new methods that return promises. More info in https://github.com/petkaantonov/bluebird/blob/master/API.md#promisepromisifyallobject-target--object-options---object

[2015-09-09 00:28] shpros commented on #39
"@shpros probably best to do a separate issue so we can track these separately"
@ryancrawcour I'm not sure why you're responding to this again. See [upthread](https://github.com/Azure/azure-documentdb-node/issues/39#ref-issue-76055224); we created #45 in May and you already merged it.

[2015-09-10 18:52] danbucholtz opened #75 "Retry Policy Missing"
Hello,

I have noticed that most other programming languages client's for DocumentDB have a retry policy built-in.  For example, in Java:

https://github.com/Azure/azure-documentdb-java/blob/master/src/com/microsoft/azure/documentdb/RetryPolicy.java

are there any plans or a timeline for when this will be added to the node client?

Thanks!

[2015-09-10 18:57] ryancrawcour commented on #75
Yes. This is planned and will start soon.

[2015-09-10 19:47] danbucholtz commented on #75
@ryancrawcour, awesome!  Any thoughts on a timeline?  We are trying to do some planning.  If it's 6 months, we'll probably roll our own retry.  If it's a few weeks, we'd wait.  Thanks for all your great work!

[2015-09-10 19:49] Jacob-McKay commented on #75
+1 the retry policy found in your other libraries is super convenient!

[2015-09-10 20:38] danbucholtz opened #76 "documentdb-q-promises"
Did this source code just completely go away?  We were developing against the npm module (https://www.npmjs.com/package/documentdb-q-promises).

We were developing against the module, but I see the npm package has been updated to point to this repo, and I see any references to it were blown away in this commit:

https://github.com/Azure/azure-documentdb-node/commit/581e0fcbdb1c8f63cf82f1f171170d79

[2015-09-10 21:24] ryancrawcour commented on #76
I have just split this off in to its own repo. I have not, yet, updated the npm module.

https://github.com/Azure/azure-documentdb-node-q is the new home for this wrapper.

Apologies for the confusion.

[2015-09-10 21:24] #76 closed

[2015-09-13 16:57] ryancrawcour commented on #75
@danbucholtz it won't be 6 months. I'm aiming for more like 4-6 weeks.

[2015-09-13 16:58] ryancrawcour commented on #75
@Jacob which libraries are you referring to? DocumentDB libraries or other Azure libraries?

[2015-09-13 17:00] danbucholtz commented on #75
@ryancrawcour, sounds good on the 4-6 weeks.  I will just wrap the calls in my own retry policy for now.

Thanks!

[2015-10-01 05:29] xtazz opened #78 "Support for Direct mode"
It would be nice for DocumentDB Node.js SDK to support Direct mode via TCP to speed up communication with the DB. Thank you!

[2015-10-28 04:01] ronaldewatts opened #81 "base#getAttachmentIdFromMediaId base64 Conversion issue"
This is a NodeJS project using When uploading attachments occasionally we get the following error when fetching the image:
[code]
Which is strange because the same master key is used throughout and many other objects, including attachments are fetched just fine.  Looking deeper into the base.js#getAttachmentIdFromMediaId I noticed it is converting my mediaId of 6hl2ALdWbQCxAgAAAAAAAC4-1VoB to 6hl2

[2015-10-28 22:30] ryancrawcour commented on #81
I will get someone to take a look at this for you. You are also welcome to submit a PR to rectify this if you like and we'll review and accept in to the SDK.

[2015-10-29 13:24] ronaldewatts commented on #81
Thanks Ryan.  I would go the PR route, but I'm not really sure of the requirement and assume it should be consistent across all platform SDKs.

[2015-10-29 18:54] mauricionr opened #82 "Unauthorized, The input authorization token can't serve the request"
Localhost everything works fine, but when a i made a deploy i'm getting this error.

ActivityId: 39d58ef7-0df9-436d-a803-06991ee62424
 { code: 401,
  body: '{"code":"Unauthorized","message":"The input authorization token can\'t serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: \'post\ndbs

[2015-11-10 05:03] dwhieb opened #83 "update documentation with details of .toArray()"
I was concerned that the .toArray() method of the queryIterator wasn't pulling all the results, because the documentation made it sound as though you had to use .executeNext() to retrieve batches of results. Eventually I found this note in the sample code though:

https://github.com/Azure/azure-documentdb-node/blob/ea5df70635751f6dc8f4eeb7587f820a61ce9c67/samples/DocumentDB.Samples.IndexManagement

[2015-11-10 12:11] ronaldewatts commented on #83
I do think you have it right.  I worked through the same bit of confusion using the Promises version (.toArrayAsync() and .executeNextAsync()).  However, there is a x-ms-max-item-count on results retrieved in DocumentDB that caps at 1000.  I'm also interested in what happens with .toArray{Async}() if more than 1000 results are retrieved?

[2015-11-10 18:23] ryancrawcour commented on #83
toArray will go fill an array with all the results that match. where the executeNext will fetch just the first page of results and stop. When you call executeNext with a continuation token it will then fetch the next set of results.

You can use maxItemCount in requestOptions (the 3rd parameter of the createDocumentQuery method) which goes over the wire as x-ms-max-item-count HTTP header to contro

[2015-11-10 18:23] #83 closed

[2015-11-11 14:22] ronaldewatts commented on #81
PR created:  https://github.com/Azure/azure-documentdb-node/pull/84

[2015-11-18 04:23] akhadem commented on #82
same

[2015-11-18 04:31] ryancrawcour commented on #82
Cannot repro this issue. Can someone please post a repro project.

What are you deploying to? Azure Web applications, VMS, something else?

[2015-11-26 12:57] mauricionr commented on #82
In my case is an Azure nodjes web app with Azure DocumentDB

[2015-11-30 20:15] ryancrawcour commented on #82
Is your node.js web app and the DocumentDB in the same Azure region?

[2015-12-05 17:20] lmaccherone opened #87 "hasMoreResults() gives wrong answer when (items mod maxItemCount) is 0"
Let's say I have 4000 items in my database and I use readDocuments().executeNext with a maxItemCount of 1000. After I've gotten back all four pages, hasMoreResults() still returns true. Calling executeNext() one more time causes hasMoreResults() to return false so everything works, but it adds an unneeded round trip.

[2015-12-07 18:47] ryancrawcour commented on #87
It's not an SDK issue, but will open a bug to investigate backend behavior.

[2015-12-07 18:47] #87 closed

[2015-12-07 18:51] ryancrawcour commented on #78
This is planned in a future version

[2015-12-29 13:24] ronaldewatts commented on #81
I'm curious if anybody has had a chance to look at PR https://github.com/Azure/azure-documentdb-node/pull/84 ?  As this problem was impacting us quite a bit I've had to basically freeze on a version with my changes in it in a fork.

CC: @ryancrawcour

[2016-01-02 05:26] kenhowardpdx opened #90 "`Hash` directory should be renamed to `hash`"
I'm getting the following error when running my tests on TravisCI.

[code]

Here's a link to a failing build: https://travis-ci.org/cannonjs/cannon/builds/99786337

[2016-01-04 08:41] JanneSalo commented on #90
Please merge this pull request and create a new release ASAP. And please run your tests on an case-sensitive file system so that nothing like this happens again. In my opinion it's unacceptable for a module to break down like this, especially when it breaks dependant modules too (see <https://github.com/Azure/azure-documentdb-node-q/issues/5>).

[2016-01-04 16:17] kenhowardpdx commented on #90
I agree that there should be a test suite. I'd be happy to write a test for this PR.

[2016-01-04 19:04] #90 closed

[2016-01-04 20:33] ryancrawcour commented on #90
As a rule, there should be a test for each PR submitted.

[2016-01-04 20:36] kenhowardpdx commented on #90
Yeah. I just looked again and saw the test folder. Sorry. I'll add one :)

[2016-01-04 21:53] kenhowardpdx commented on #90
Meh. Maybe not. I didn't do any code change, just fixed a directory path. Although, I do think this project should have automated tests using something like AppVeyor, TravisCI, or Codeship.

BTW `mocha -t 0 -R spec` fails without any changes on my machine. Running the individual test files works except for `mocha test.js`.

[2016-01-15 09:40] joaomoreno opened #95 "EventEmitter listener leak warning"
[code]

Looking at [the code](https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/request.js#L95) it definitely looks like there is a problem. Since [keepalive](https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/request.js#L37) is used, the `timeout` event will be listened to several times on the same socket.

[2016-01-19 18:00] danbucholtz commented on #78
Any updates on this?  We are seeing very poor performance from Document DB when used via Node.

[2016-01-20 01:36] ryancrawcour commented on #78
We have started work on enabling this. Don't have a committed date as yet though.

Could you elaborate on "very poor performance".
Is it only when using Node?
What are the performance tiers for your collections?
Are all operations performing really badly, or just some?
And the obvious question, is your application deployed in Azure? in the same region as the database?

[2016-01-20 15:27] Jacob-McKay commented on #78
I work with @danbucholtz  and can answer to how we're using documentDb.

The main killer we have is that it takes upwards of 4 seconds for some web requests to make it through our web app api to docDb and back.  The web calls that take this long are ones where we are retrieving full document lists, like "select * from root".  For instance it took 4.5 seconds to retrieve 1200 records (all the recor

[2016-01-20 16:42] joaomoreno opened #97 "Can't run test suite"
I followed the instructions in [source/test/readme.md](https://github.com/Azure/azure-documentdb-node/blob/master/source/test/readme.md) but only get this:

[code]

[2016-01-22 23:40] #95 closed

[2016-01-25 21:59] ryancrawcour commented on #97
Updated the readme.md for tests.

https://github.com/Azure/azure-documentdb-node/blob/master/source/test/readme.md

[2016-01-25 21:59] #97 closed

[2016-01-27 21:08] ryancrawcour commented on #81
Please verify that npm package version 1.5.3 fixes this issue

[2016-01-27 22:09] rwatts-d3 commented on #81
Will do.  Thanks @ryancrawcour .

[2016-01-30 23:45] cosminonea opened #100 "Security Issue - Forcing the whole process to use TLS1"
https://github.com/Azure/azure-documentdb-node/blob/1ef1570fb2390b8f324eb8d194db801cece93f46/source/lib/request.js#L35

Is there any reason for that line?
I am using the document db client in an app together with the paypal client and paypal rejects tls 1 connections as it only accepts tls 1.2

[2016-02-01 16:57] pierre-elie commented on #100
Totally agree, modifying the global agent is to absolutely avoid in a lib, IMHO.
Adressed in PR #101.

[2016-02-01 17:29] ryancrawcour commented on #100
Just testing locally before accepting and closing.

[2016-02-01 18:03] pierre-elie opened #102 "Socket keep-alive and server reset"
The HTTPS agent used to request DocumentDB [is using Keep-Alive](https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/request.js#L37) for its pool of sockets.

- issue 1: after ~2 minutes of inactivity, the remote DocumentDB server closes the connection (although the socket is _kept-alive_), resulting in the socket throwing an `ECONNRESET` error
- issue 2: no listener is set for s

[2016-02-02 00:52] #100 closed

[2016-02-02 19:52] #81 closed

[2016-02-02 21:56] ryancrawcour commented on #102
What version of Node.js are you using?
Do you have a repro for this issue?

[2016-02-03 07:40] JanneSalo commented on #102
For me it occurs at least with node v4.2.3. In my use case, my app queries for a stored procedure object on startup and caches it. The app may idle for quite some time before it needs anything from DocumentDB. Pretty much exactly after two minutes after startup, the app crashes due to an unhandled `ECONNRESET` error.

[2016-02-03 13:10] JanneSalo commented on #102
Here's a simple way to reproduce the issue:

[code]
After two minutes, this will throw an unhandled `ECONNRESET` error and crash when using `documentdb` v1.5.5

[2016-02-03 18:27] ryancrawcour commented on #82
Is this still an issue?

[2016-02-03 19:34] ryancrawcour commented on #102
@JanneSalo unfortunately the code provided does not repro the problem on my end.

![capture](https://cloud.githubusercontent.com/assets/1082796/12794454/01e8f072-ca6a-11e5-9e98-1ce693cd554b.PNG)

did i misunderstand?

[2016-02-04 06:22] JanneSalo commented on #102
I'd imagine the underlying OS matters. I guess sockets are handled differently on OS level in Windows than they are in *NIX systems. On OS X and Linux, the problem is easily reproduced by the code.

[2016-02-04 06:26] ryancrawcour commented on #102
Will try repro on Linux and OSX

[2016-02-04 15:58] pierre-elie commented on #102
After reproducing @JanneSalo’s example on 4.2.6 but not 5.5.0, I went testing other versions.
**It seems the issue has been solved in node 5.4.0 by https://github.com/nodejs/node/pull/4482.**

To be exact, the fix avoids throwing the error happening on the idle socket, it does not address why an error is happening in the first place. I’m ok to close though.

[2016-02-04 16:13] ryancrawcour commented on #102
That would explain why I cannot reproduce.

[2016-02-09 18:50] matthiasotto commented on #82
Just encountered this:

`{"The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'get\n\n\ntue, 09 feb 2016 18:46:42 gmt\n\n'\r\nActivityId: 143aa10b-ec48-4788-9306-6be7eaf15b78"}`

[2016-02-12 19:20] htuomola opened #107 "Continuation token is not passed properly on query"
I think DocumentDbClient does not properly send the continuation token on request even if has been set to `queryOptions.continuation` property. I'm having a problem querying "next page" of items by passing a continuation token to `documentDbClient.queryDocuments` in query options. I always get the same result set back, with iterator.continuation always reporting the same token after the call. I've

[2016-02-13 00:18] ryancrawcour commented on #107
we have found a bug in the node driver where the iterator is not respecting the options.continuation.
a workaround for this is to set the continuation on your iterator explicitly.

you don't actually need to pass the continuation token around, the iterator keeps this internally. so an alternate to your code might be something like this [gst](https://gist.github.com/ryancrawcour/f01a502bb4e970c9af4

[2016-02-13 08:29] htuomola commented on #107
Right, that seems to fix it for now. Thanks for the prompt reply. I know the same iterator can be used to get multiple pages but I'm working in a disconnected (web API) scenario where the "next page" is a separate request.

[2016-02-17 06:53] danbucholtz commented on #78
Any update on this?

[2016-02-17 07:00] ryancrawcour commented on #78
Nothing as yet, no. I'd still like to explore under what circumstances you believe the node code is slower than .net.

[2016-02-17 18:29] ryancrawcour commented on #107
yeah, we've added a work item to have the iterator respect the options passed to it.

[2016-02-19 17:03] maodd commented on #82
I got same issue when running the databasemanagement.js sample: https://github.com/Azure/azure-documentdb-node/blob/master/samples/DatabaseManagement/app.js

[2016-02-19 18:41] maodd commented on #82
never mind, updated client lib from 0.9.4 to 1.5.5. problem went away.

[2016-02-19 18:48] ryancrawcour commented on #82
due to the fact i can't replicate this, and that @maodd has reported it went away, i'm wondering if this is a transient issue. will leave it open and track for a bit more.

[2016-02-24 10:27] claudio-destro-banzai opened #114 "cannot access collection named "media""
Hi guys!

it seems a collection with "media" in its name is **not** accessible!

documentdb/lib/request.js line 53 is suspicious :)

var isMedia = ( requestOptions.path.indexOf("media") > -1 );

Bonus question: how do I name my media collections?

[2016-02-24 10:43] claudio-destro-banzai commented on #114
for the sake of my (and maybe someone else) sanity, just use letter case ... e.g.: "Media"

[2016-02-26 22:42] dillten opened #116 "Proxy Support"
Can we have proxy server support added to the node library? This is blocking use in an environment I have.

Ref on a similar request in the java SDK: https://github.com/Azure/azure-documentdb-java/pull/22

[2016-02-26 22:44] ryancrawcour commented on #116
Would be happy to add this to the backlog. If you want this sooner, we'd be happy to accept Pull Requests.

[2016-02-26 22:46] ryancrawcour commented on #102
@JanneSalo can you please confirm that using a newer version of node would help address this for you

[2016-02-26 22:48] ryancrawcour commented on #82
@matthiasotto @mauricionr @akhadem could you please confirm which version of the node SDK you are using? If you are using an old version of the SDK could you please upgrade to the latest version and try again.

[2016-02-29 06:19] JanneSalo commented on #102
Yes, using node v5.5.0 does indeed help.

[2016-02-29 17:48] ryancrawcour commented on #102
Closing this issue as this was fixed in Node v5

[2016-02-29 17:48] #102 closed

[2016-03-05 06:09] syantien commented on #82
Hi.  I also get this error: Microsoft.Azure.Documents.DocumentClientException: The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'post
docs
xwfmaksjxqa=
sat, 05 mar 2016 05:53:08 gmt.

I seem to get this randomly.  My SDK version is 1.5.3.

[2016-03-05 18:20] ryancrawcour commented on #82
@syantien that error looks like .NET? are you using .NET SDK or the Node SDK?

[2016-03-21 02:20] kenstone commented on #102
@ryancrawcour While upgrading to node 5 works, if running the app in AWS Elastic Beanstalk, which currently only supports up to node 4.3.0, the problem is unavoidable. Right now I'm hoping for them to upgrade to node 4.4.0 (which now also has the fix).

[2016-03-21 03:12] ryancrawcour commented on #102
How are you running DocumentDB in AWS? I can't imagine cross region / data center provides very good performance.

PS. Azure mobile apps supports Node.js 5 :)

[2016-03-21 09:17] thivy commented on #82
I get this same error when I create a DocDb project from Visual Studio quick start.

I noticed the Nuget packages are different
https://onedrive.live.com/redir?resid=4417247F8CE54DFE!44829&authkey=!ADXvKRgNo3eai5Y&v=3&ithint=photo%2cPNG

[2016-03-21 10:04] thivy commented on #82
@ryancrawcour I had the same error. It turns out when I copied the PRIMARY KEY from the portal it only copied what you see on screen.

When you guys copy the PRIMARY KEY make sure to copy using Click to Copy button, instead of using the mouse select.

[2016-03-25 11:36] murdockcrc opened #119 "Running stored procedure fails with "listener must be a function""
I am trying to run a stored procedure with the following code:

[code]

However, the app crashes with the error "listener must be a function". I am using SDK 1.5.6.

Here is the relevant stack track:

[code]

[2016-03-25 11:43] murdockcrc commented on #119
I have downgraded to version 1.2.2 and the error does not occur. It starts occuring again in version 1.4.0.

[2016-03-31 15:04] sebastus opened #122 "client.createDatabase swallowing errors"
If you provide an invalid endpoint such as:

http:https://whatever.documents.azure.com:443/

createDatabase throws, but never returns.

[2016-04-05 20:10] mimig1 commented on #119
@aliuy - You were going to investigate. Can you provide an update for @murdockcrc?

[2016-04-23 15:45] julielerman commented on #82
I'm getting this same error after updating to current SDK and using Upsert instead of replace. All of my queries are fine. I have been using the key for a long time with replace working as expected.  I'll keep googlebinging.

[2016-04-23 15:59] ryancrawcour commented on #82
If you're using ID based routing, i.e. your links contain your own IDs not the internal system rid e.g. dbs/mydatabaseid/colls/mycollectionid then check that you don't have a trailing /

[2016-04-23 16:36] julielerman commented on #82
getting closer. I started out with this (following an example in the blog post that announced no more dependency self links)
   var docLink = "dbs/Ninjas/colls/Ninjas/docs/"+ item.Id;

now I'm down to

 var docLink = "dbs/Ninjas/colls/Ninjas"  and letting upsert find the id in the item passed into the 2nd parameter.

No error.

Data not updated either ;), but I'm sure that's something silly. Will

[2016-04-23 17:29] julielerman commented on #82
found it. Somewhere along the line I had specified the Id property as [capital]Id so it wasn't matching [lowercase]id in the database and doing an insert instead

[2016-04-23 17:38] ryancrawcour commented on #82
Yeah, this is still an open issue to resolve this trailing / thing in the node.js driver properly. It shouldn't care if there's a trailing / or not.

Just thought I'd unblock you seeing as I knew what the cause was.

[2016-04-23 17:50] rnagpal commented on #82
Thanks Ryan for jumping in here!

I'll look into fixing the trailing / in the Node SDK.

[2016-04-23 18:08] julielerman commented on #82
thanks also for the node sdk and for the q wrapper!! See https://github.com/julielerman/AureliaDocDB for how I implemented it. Want me to update your sample documentation? ;)

[2016-05-05 19:12] murdockcrc commented on #119
@mimig1 , @aliuy : just wanted to check if you guys need some more info or assistance in reproducing? Thanks.

[2016-05-05 21:48] koltachev commented on #119
This looks like the callback you pass (client.executeStoredProcedure(sprocLink, options, callback)) is not a function. The issue here most likely is that you don't provide the "params" argument, here the definition of [executeStoredProcedure](https://github.com/Azure/azure-documentdb-node/edit/master/source/lib/documentclient.js):
        executeStoredProcedure: function (sprocLink, params, option

[2016-05-06 08:33] murdockcrc commented on #119
Close, in fact, the following change pulled the trick:
client.executeStoredProcedure(sprocLink, options, null, callback);

I suppose the signature of this function was changed in between releases of the SDK?

Thanks

[2016-06-28 12:45] ButchersBoy commented on #116
Any eta?  This is a blocker certainly for me and I would imagine many other people working in enterprise.

[2016-06-28 14:24] rnagpal commented on #116
@ButchersBoy We haven't got to this yet but if you could send us a PR with the changes, we can get it reviewed and merged sooner.

[2016-06-29 03:25] bingosummer opened #129 "Which version of node is required?"
Can all node versions (`0.x`, `4.x`, `5.x`) work with `azure-documentdb-node`? Thanks in advance.

[2016-06-29 05:01] rnagpal commented on #129
We have tested with 0.x and 4.x but not 5.x. Let us know if you run into any issue with any of the versions you have installed.

[2016-06-30 01:35] digitalclover commented on #129
I haven't had any issues running this on 5.x or 6.x.  However, I would recommend running on at least 5.4 to avoid issue #102

[2016-06-30 02:03] bingosummer commented on #129
Thanks @rnagpal and @digitalclover .
We actually hit an issue on `4.x` and `0.x`, but we did not note the exact error message. We are trying to reproduce the error.

CC: @sebastus

[2016-07-01 04:48] rnagpal commented on #129
@bingosummer : Feel free to open an issue with the repro steps if you run into any problem. azure-documentdb-node itself doesn't enforces any specific version and gets the latest version from npm.

[2016-07-01 04:48] #129 closed

[2016-07-11 00:42] rnagpal commented on #39
@molant @shpros  Node.js 1.9.0 now has the auto-retry behavior for 429s.

[2016-07-11 00:42] #39 closed

[2016-07-11 00:46] rnagpal commented on #75
@danbucholtz @Jacob-McKay : Node.js 1.9.0 has the auto-retry built in for 429s. Let us know if you were looking on retrying on any other error code and we can evaluate.

[2016-07-11 00:46] #75 closed

[2016-07-15 11:44] SteenMolberg opened #134 ""Cannot read property 'partitionKey' of null" on createDocument"
I get this error
"Cannot read property 'partitionKey' of null"
 when trying to create a new document with...
this.client.createDocument(this.link, item, null, this.resultHandler(callback));

I had to pass an empty object for options like this...
this.client.createDocument(this.link, item, {}, this.resultHandler(callback));
to make it work.

[2016-07-18 16:44] mauricionr commented on #82
@ryancrawcour sorry for my long delay, I'm currently not using documentDB.
I've changed to [azure mobile app service](https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-node-backend-how-to-use-server-sdk/)

[2016-07-18 19:33] digitalclover commented on #134
Since the 'options' parameter is optional, you shouldn't have to place 'null' or an empty object.  If you don't want any options, just skip straight to the callback function.

```this.client.createDocument(this.link, item, this.resultHandler(callback));```

Let me know if that works for you.

[2016-07-29 23:17] Jacob-McKay commented on #75
@rnagpal originally I was thinking of retrying on codes like 500, but in practice the only error codes I have seen are 429 and 404.  You've got the 429 case, and on 404 I would not retry :P

[2016-07-30 03:33] rnagpal commented on #75
@Jacob-McKay : You shouldn't retry on 500s(Internal Server Error) as that can be a valid error code indicating some problem. 404(Resource Not Found) is also a non-retryable error.

429(Request Rate Too Large) is one of the most common retryable error code that makes sense and hence we added the support for just that.

[2016-08-23 23:19] mwawrusch commented on #102
Can you please reopen this issue - some people are forced to run this on 4.3.2 on AWS Lambda.

[2016-08-24 08:06] bingosummer opened #136 "How to tag the documentdb database?"
I would like to add tag for the documentdb database. Is it doable?
Thanks in advance.

[2016-08-24 11:35] dmoreno opened #137 "ECONNRESET error in Azure Continuous WebJob"
Hi everyone!

I am writing a continuous WebJob in Azure WebApp with DocumentDB access. But I get an ECONNRESET error 2 minutes after starting webjob, aborting webjob execution and forcing webjob restart. This happens in every run. This is a minimal example for this reproducible behavior.

[code]

WebJob output is:

[code]

Azure WebApp is offering node 4.2.3 in its cloud runtime environment.

Coul

[2016-08-24 12:19] dmoreno commented on #137
This issue is related to #102.

You can fix the issue forcing a newer version of NodeJS in Azure WebApp. This is configurable with WEBSITE_NODE_DEFAULT_VERSION variable environment in application settings.

Fixed with:
WEBSITE_NODE_DEFAULT_VERSION: 4.4.7

[2016-08-24 12:19] #137 closed

[2016-08-24 14:02] mwawrusch commented on #102
@dmoreno That doesn't help - talking about AWS Lambda, not Azure Web Roles..

[2016-08-24 18:30] stephbaron commented on #136
Do you mean add an Azure tag (key/value pairs enabling you to categorize resources)?  If so, only DocumentDB accounts can be tagged today.  Databases and collections are not "taggable" at present.

[2016-08-25 06:15] dmoreno commented on #102
@mwawrusch #137 and #102 issues are simply related (same error, different environment) not duplicated issues.

[2016-08-25 19:05] mwawrusch commented on #102
@dmoreno got it. Unfortunately that makes it impossible for us to use documentdb - it's a shame as Microsoft was always super strong with databases.

[2016-08-29 08:22] bingosummer commented on #136
Thanks @stephbaron for the clarification.

[2016-08-29 08:22] #136 closed

[2016-08-30 17:11] yvele opened #138 "Make samples simplier by removing Self-Links"
For someone like me that is learning documentDB, I think that the samples should be updated as they does not reflects [farewell to Self-Links](https://azure.microsoft.com/en-us/blog/azure-documentdb-bids-fond-farewell-to-self-links/).

Self-Links are confusing and adds so much overhead (specially for someone learning documentDB.. I lost precious time figuring how to deal with Self-Links.. and fina

[2016-09-10 01:21] ailn opened #140 "C# client SDK and %%%% characters in resource id"
We're using 1.9.2 version.
If I create a document with id like 'Tests-%%%%Device123' and then try to get the document like:

[code]

then I get exceptio like:
The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'get
docs
dbs/test-db/colls/1test-collection

[2016-09-15 18:16] ailn commented on #140
Oops! This should go to dotnet...

[2016-09-15 18:18] #140 closed

[2016-09-27 07:51] yvele opened #141 "NPM package : Include only runtime useful files"
Right now when running `npm install documentdb`, lots of useless files are installed and that adds considerable size to the package :

[code]

you should add the [files](https://docs.npmjs.com/files/package.json#files) field to the package.json :
[code]

[2016-10-02 05:35] rnagpal commented on #141
@yvele Thanks Yves for your feedback and we will look into this issue.

@moderakh: Can we fix this in our next update? We can still keep them in our GitHub but remove from our package.

[2016-10-04 05:52] rnagpal commented on #141
@yvele : We have removed these files from our latest Node.js SDK release 1.10.0

[2016-10-04 05:52] #141 closed

[2016-10-05 09:04] markusahlstrand opened #146 "Headers no longer available in 1.10.0"
I just upgraded from 1.8.0 to 1.10.0 and the headers are no longer returned in this query:
`client.queryDocuments(collectionLink, querySpec, options).toArray((err, items, headers) => {`

I had a look in the code and don't understand the logic completely, but it seems to recursively iterate over the results and overwrite the headers in the second recursion:
https://github.com/Azure/azure-documentdb

[2016-10-05 16:01] rnagpal commented on #146
@moderakh Can you please look into this?

[2016-10-07 18:00] moderakh commented on #146
@markusahlstrand  queryIterator.toArray(callback) collects all the results and passes the array of collected results to the callback.

The total results size could be more than the page-fetch-size, and so queryIterator has to do multiple fetches to retrieve all results.

I wonder what's your use case here, why do you need to know the response-headers?

[2016-10-07 20:51] markusahlstrand commented on #146
Hi @moderakh,

We use the response headers to track the request charge and resource usage, both to ensure that we provision sufficient capacity and to understand which queries could be optimised.

I had another look at the code and it seems that an empty resource is passed back to signal that there are no more results. The headers are overwritten at line 144 and the check for end of results are at

[2016-10-10 19:24] moderakh commented on #146
Hello @markusahlstrand

By swapping those lines you should get the last response header; however that won't help you much because if there are multiple requests (page-fetch-size < total result size) you will only get the request-charge corresponding to the last query.

Returning a response header wasn't documented feature. We planning to do the following fix:
toArray() internally tracks and sums u

[2016-10-13 08:46] markusahlstrand commented on #146
Hi @moderakh,

This sounds like a good solution.

Thanks

[2016-10-18 06:22] dmitrynovik opened #147 "Cannot iterate over large collections - server refuses to accept queries with continuation token after a very short while"
I want to update my very large collection (close to 10G) with JavaScript SP for performance reasons. It's a very simple operations so that I decide to run it on server instead of reading all of it to my client workstation which will take long time.

And here's the problem: after a very short while the queryDocuments returns NULL instead of iterator. I understand this is because of the artificially

[2016-10-18 17:35] mkolt commented on #147
The script runs in sort of a sandbox environment and as part of request. The limits are mainly time and charge. The charge limit depends on how many RU/s the collection has, how many did you specify when you created the collection?

After the limit is reached, waiting or pausing execution would not help, because there is no way for time or charge to go back. The script needs to return to client pr

[2016-10-18 19:07] moderakh commented on #147
Thanks @mkolt for your answer.

I am closing this because it is not a bug in node-js sdk.

More resources on server-side javascript api:
https://azure.microsoft.com/en-us/documentation/articles/documentdb-programming/
https://www.documentdb.com/javascript/tutorial

[2016-10-18 19:07] #147 closed

[2016-10-23 21:02] factormystic opened #148 "Casing of enums TriggerType and TriggerOperation"
`TriggerType` and `TriggerOperation` are all lower case in this sdk (https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/documents.js#L234)

However, if you actually compile a trigger referencing these enums, the Script Explorer in the Azure Portal doesn't show the compiled option:

[code]

![image](https://cloud.githubusercontent.com/assets/43428/19629360/a2801e9c-9941-11e6-94ce

[2016-10-29 17:45] coreybutler commented on #78
I'm seeing this.

I wrote a generic wrapper with some benchmarks thrown in:

**Code**:
<details>
[code]
</details>

**Response:**

![image](https://cloud.githubusercontent.com/assets/770982/19831618/363c1384-9dd4-11e6-8614-8127479af7ec.png)

"Query" refers to the time elapsed while running this method:

[code]

"Operation" refers to the time elapsed to run this method:

[code]

This is a brand new

[2016-10-30 10:25] cgurjar opened #149 "MaxDegreeOfParallelism missing in node sdk"
I have a partitioned collection. I have to execute a query using node js that actually spans across partitions. using options i set EnableCrossPartitionQuery to true, but i see in node js sdk the MaxDegreeOfParallelism property is missing (I saw this in the .net sdk). i want to query all my partitions in parallel. Any help. I am writing the code using nodejs

[2016-11-02 16:53] moderakh commented on #149
@cgurjar

If your query is top/orderby parallel behaviour just works. All you need to do is to enable EnableCrossPartitionQuery.
You can see this as a sample:
https://github.com/Azure/azure-documentdb-node/blob/master/source/test/orderbyTests.js#L401-L416
(nodejs lang by design is single threaded with async-io and we don't need any MaxDegreeOfParallelism)

But in case of non top/orderby a specific

[2016-11-03 13:34] saibotsivad commented on #146
@moderakh What's the status on this?

I inherited some old code which was using the response headers property for a similar purpose: to track the request charge/resource use.

It sounds like you are saying I should still be able to get the `request-charge` (formerly `x-ms-request-charge` in the `headers` object) but I cannot see a way to do that in `1.10.0`.

[2016-11-08 01:26] moderakh commented on #146
@saibotsivad as mentioned above this is a non-documented feature which is broken.

We will fix this in upcoming releases.

[2016-11-08 05:52] saibotsivad commented on #146
Just to be clear, if we need to use this (undocumented/unsupported) feature, it sounds like we should pin the version we use to whatever the latest version before 1.10 is (e.g. 1.9.x)? That's a workable solution for us, we'll just wait until the feature is readded. Thanks!

[2016-11-08 16:51] ato9000 commented on #148
Thanks for reporting this. It looks like a portal issue. We will keep this issue open and close once the portal is fixed.

[2016-11-16 01:07] moderakh commented on #146
Thanks @saibotsivad we will fix this.

[2016-11-21 04:43] jdnichollsc opened #152 "Meteor Support"
Hi guys,

Exist any way to replace **MongoDB** with **DocumentDB** in **Meteor**?

Check this **Meteor** example please: https://github.com/meteor/todos

Thanks in advance, Nicholls

[2016-11-21 07:59] DominicBoettger opened #153 "DocumentDB emulator self signed error"
When trying to use the library with the documentDB emulator the connection fails with:

[code]

I did not find a option to allow self signed certificates for the connection.

[2016-12-02 06:00] hfjallemark opened #154 "Async/await support"
Since async/await support in Node is on the horizon -- when will DocumentDB support it? Since async/await is just sugar on top of promises, I guess the real question is -- will DocumentDB support promises instead of callbacks?

[2016-12-02 06:24] rnagpal commented on #154
DocumentDB has a promises based npm package as well.

GitHub repo : https://github.com/Azure/azure-documentdb-node-q
npm package : https://www.npmjs.com/package/documentdb-q-promises

Let me know if that works for you.

cc: @moderakh

[2016-12-02 06:28] hfjallemark commented on #154
Ah, didn't know that. What's the reasoning behind going with Q instead of native promises, backwards compatibility? Do you know if Q is fully compatible and will work with async/await?

[2016-12-07 02:00] jcormont commented on #154
As an alternative, I wrote a wrapper around the Node.js API specifically for use with TypeScript and/or ES6 (Babel, ES2015, whatever). Link: https://github.com/jcormont/documentdb-typescript

This does support async/await, as well as incorporating a more streamlined API that is somewhat inspired by the object oriented .NET API. Just take a look at the examples in the readme file. Perhaps this is c

[2016-12-07 02:23] jcormont commented on #29
I know this is an old issue, but for anyone coming here through Google... I've written an (unofficial) wrapper for the Node.js API specifically for use with TypeScript, somewhat inspired on the object oriented .NET API for DocumentDB. It streamlines a lot of things, adds async/await support, and obviously gives you accurate Intellisense as well.

Take a look at the readme file for some examples: h

[2016-12-07 06:34] kapil-ms opened #155 "executeStoredProcedure doesn't take 0 as single param"
The stored procedure gets `undefined` as input on passing `0` as the value of params to executeStoredProcedure. `[0]` works.

https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/documentclient.js#L1921
this should instead be
`if(params !== null && params !== undefined  && params.constructor !== Array)`

[2016-12-09 08:48] hfjallemark commented on #154
Looks nice @jcormont!

[2016-12-09 08:48] #154 closed

[2016-12-13 22:10] 1N50MN14 commented on #82
Is there anyone maintaining the node.js SDK at all? I'm surprised such a critical issue is still standing we're pretty much unable to use the SDK because of it..

[2016-12-13 22:19] rnagpal commented on #82
@1N50MN14 Looks like the thread diverged. Are you running into the auth issue(401 error)?
Can you send me the error message with AcivityId so that we can look into it? Sample code where you hit this issue will help us repro. You get an authorization error even when the Id contains an invalid char, so please verify that the id of the resource doesn't contain any of the chars listed in https://msdn.

[2016-12-13 22:48] 1N50MN14 commented on #82
@rnagpal Yes you were right there, in addition to that I also had a malformed collection link somehow I assumed `'dbs/'+databaseId+'/colls/'+collectionId+'/docs'` to be used with creating documents, omitting `/docs`solved it

[2016-12-14 16:08] yvele commented on #20
You can now use SQL Parameterization in DocumentDB
https://azure.microsoft.com/fr-fr/blog/announcing-sql-parameterization-in-documentdb/

[2016-12-15 16:01] yvele opened #156 "Parameterized SQL queries with IN keyword"
Are [parameterized SQL](https://docs.microsoft.com/en-us/azure/documentdb/documentdb-sql-query#parameterized-sql-queries) with [IN keyword](https://docs.microsoft.com/en-us/azure/documentdb/documentdb-sql-query#in-keyword) supposed to be working?

Neither this

[code]

or this

[code]

are working.. They gives a syntax error.

PS: [Parameterized SQL query documentation](https://docs.microsoft.com/

[2016-12-16 09:50] jagratimodi opened #157 "Issues connecting with DocumentDB Emulator using Node SDK"
We're trying to connect to DocumentDB emulator using the Node SDK (version 1.10.0), we encountered few issues:

1. First issue was with the self-signed certificate. For some reason the HTTP request was declined because of this. We searched on how to work with self-signed certificate, one way is to make use of environment variable “NODE_TLS_REJECT_UNAUTHORIZED” and setting this variable to “0”. But

[2016-12-16 09:56] jagratimodi commented on #153
Hi @DominicBoettger,
Look at : "Issues connecting with DocumentDB Emulator using Node SDK #157". This might help you to solve 'DocumentDB emulator self signed certificate' error.

[2016-12-18 13:04] ralphtheninja commented on #78
I have also noticed the same problems with collections containing 1000+ documents. At first I thought `.toArray()` took a long time since it's buffering the content, but if I do the same query using `.nextItem()` to avoid buffering the data comes straight away but in total it still takes the same time to get all the elements.

[2016-12-18 13:06] ralphtheninja commented on #78
I'm running a similar setup. Using node 6.8.0 and docker containers.

[2016-12-18 13:20] ralphtheninja commented on #78
As a side note. I've played around with consistency levels. Changing from "Strong" to "Session" improved our read operations quite a bit. It took down latency by at least 50% and made a 3x improvement on requests per second to our api. (Used https://github.com/mcollina/autocannon#readme for this)

[2016-12-23 01:11] 1N50MN14 opened #162 "sproc, trigger and udf property definitions mismatch online docs"
https://docs.microsoft.com/en-us/azure/documentdb/documentdb-programming

`name` (docs) --> `id` (SDK)
`body` (docs) --> `serverScript` (SDK)

[2016-12-23 14:29] markusahlstrand commented on #146
Hi @moderakh ,

It looks like this wasn't part of the 0.10.1 release? Do you know when this is expected to be implemented? If work hasn't already started on this feature we could see if we can make a PR to get it in?

[2017-01-03 19:42] rnagpal commented on #146
@markusahlstrand Feel free to submit a PR and we can review and merge it.

[2017-01-07 14:28] markusahlstrand opened #165 "Unit tests take fairly long time to run"
When running the unit tests after doing changes to the sdk locally it took roughly 2 hours to run the unit tests. I could images two ways that this time could be decreased:
- Separate the integration tests that hit's against an actual database from the unit tests.
- Move the deletion and creation of the database out of the permissionCRUDOverMultiplePartitionsTest function. Maybe there could be one

[2017-01-08 03:28] rnagpal commented on #165
@markusahlstrand Thanks for you feedback. I believe we have separate tests for end-to-end scenarios and unit tests but probably they need to be moved in appropriate sub folder to have that distinction and can be run independently. Regarding second point, we have been thinking of doing that but haven't got chance yet and this is the right way since most of the time the tests take is creating/deleti

[2017-01-08 10:53] markusahlstrand commented on #165
Hi @rnagpal,

Thanks for the quick reply. If this is in line with your thoughts I'll see if I can do a small refactor and send a PR.

[2017-01-12 12:53] stefan-akelius commented on #107
This seems to be still valid. I am in the same position to write a api that just delivers one page of results and - if there are more - the additional continuation token. But no matter what, the results are always the same and the continuation token does not get updated. Is there any eta on this?

[2017-01-12 13:19] stefan-akelius commented on #107
It seems the bug is in [defaultQueryExecutionContext.js](https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/queryExecutionContext/defaultQueryExecutionContext.js). On line `47` in the constructor `this.continuation` is set to `null` instead of `options.continuation`. And in line `119` this happens `this.options.continuation = this.continuation;`. So the passed continuation token

[2017-01-12 15:34] rnagpal commented on #107
@stefan-akelius I believe assigning continuation to null happens only in the constructor which is expected. There are APIs that are supposed to take care of passing continuation for a paged query as you ask for next page. That seems to happen in fetchMore method here. As an API user, you just need to call executeNext on the queryIterator and it takes care of passing the continuation internally. Th

[2017-01-12 16:05] stefan-akelius commented on #107
@rnagpal
There is still the bug in there that `this.continuation` is never overwritten with the returned token which is what I changed.

Your supposed way does not work for an API scenario. Imagine you have 15000 documents but want to transfer only 25 per request (paginated for a frontend). How is the client supposed to tell the server to get the next page? Waiting for the sdk to retrieve all 1500

[2017-01-14 14:05] rnagpal commented on #107
@moderakh will be looking at this and merging the PR.

[2017-01-25 05:13] rnagpal commented on #153
@DominicBoettger We fixed this issue with the 1.10.1 release of the SDK, so please upgrade and let us know if that fixes the issue.

[2017-01-25 05:21] rnagpal commented on #157
@jagratimodi
1. We fixed the self-signed certificate issue with the 1.10.1 release of the SDK, so you should be good there.

Can you please elaborate on:

Are you seeing Service Unavailable exception? Can you send us the complete stack trace?

2. You shouldn't have to do change the port explicitly. We had a port issue in our first release of the emulator but we fixed it soon. Please make sure you

[2017-02-02 01:26] moderakh commented on #82
I am closing it (as it seems the problem is solved). If you think this is a bug in most recent version of nodejs sdk please feel free to reopen.

[2017-02-02 01:26] #82 closed

[2017-02-07 04:06] limeybastow opened #168 "readMedia is dropping bytes when reading a binary file (e.g. jpeg)"
I successfully uploaded a jpeg file as an attachment but when trying to retrieve it via the readMedia call it was coming back smaller than it went in.

I was able to successfully download the attachment media via Postman so I knew it was correctly uploaded.

In digging through the code I think I found the issue in the createRequestObject (line 49 in request.js).  When handling the response data ev

[2017-02-07 04:48] limeybastow commented on #168
I changed the MediaReadMode in the connection policy to Streamed and handled the response directly.  This resolved my issue and may be the best way to handle binary files, however this should be noted in the documentation.

[2017-02-09 19:26] moderakh commented on #168
@limeybastow thank you for reporting this. I think this should work in any `MediaReadMode` meaning that's a bug.

I suspect the root cause is what you guessed and there are some bytes that make a string unhappy.

Are you interested in provide a fix patch for this? I will merge your patch as your contribution if you do so.

[2017-02-09 22:58] moderakh commented on #157
I am closing this issue as this is fixed in the latest release of Emulator and NodeJS SDK. If you think still that's an issue feel free to re-open.

[2017-02-09 22:58] #157 closed

[2017-02-09 23:01] moderakh commented on #153
@DominicBoettger @rnagpal
I am closing this issue as it is fixed in the latest release of sdk and emulator. If you face this issue again please re-open.

[2017-02-09 23:01] #153 closed

[2017-02-09 23:08] moderakh commented on #152
@mingaliu could you please take a look at this?

[2017-02-09 23:10] mingaliu commented on #152
Hi Nicholls,
    Can you ping me? We like to have a chat with you to understand your scenario better.

Thanks!
Ming

[2017-02-09 23:11] moderakh commented on #149
@cgurjar let met correct my above comment. We decided to add support for `MaxDegreeOfParallelism` similar to .Net SDK in nodejs sdk. :-)

We implemented this, and it will be in the next release.

[2017-02-09 23:13] moderakh commented on #148
@ato9000 could you please comment on the status of this issue? Can I close this issue?

I would like to close this issue here as this is a portal issue not the sdk's.

[2017-02-09 23:21] moderakh commented on #138
Hi @yvele I am sorry to hear that.

Could you please point to that part of sample which was confusing?

[2017-02-09 23:33] moderakh commented on #134
thanks @SteenMolberg for the question and @digitalclover  for your answer.

I am closing this as it is not an issue with the SDK.

[2017-02-09 23:33] #134 closed

[2017-02-09 23:48] moderakh commented on #148
We created a issue in our internal issue tracking for portal. I am closing this issue here because this is an issue in portal not in nodejs sdk. @ato9000  please track the issue internally.

[2017-02-09 23:48] #148 closed

[2017-02-10 00:03] moderakh commented on #155
@kapil-ms what you are saying makes sense. Do you want to do a fix patch on github? I will merge your Pull Request.

[2017-02-10 00:15] moderakh commented on #156
@yvele a workaround to this is to rewrite the query as:

[code]

[2017-02-10 00:17] moderakh commented on #156
I am closing this as it is not an issue, if still it doesn't work for you please reopen/comment.

[2017-02-10 00:17] #156 closed

[2017-02-10 00:30] moderakh commented on #162
@1N50MN14 could you please elaborate more what the issue is here?
@mimig1 @emilylawton could you please take a look.

[2017-02-10 00:35] 1N50MN14 commented on #162
@moderakh It's just a small mismatch between the online documentation and actual SDK API for sprocs and triggers

[2017-02-10 01:04] moderakh commented on #155
I am closing this issue as your pull request is merged.

[2017-02-10 01:04] #155 closed

[2017-02-10 03:18] mimig1 commented on #162
@1N50MN14 - It looks like you know how to use git - are you interested in submitting a pull request to the doc page to make the fix? Just go to the article page, click the Edit button in the upper right corner, click the Pencil button in the upper right, make your change and click Create Pull Request a few times. We'll get the PR, review it and accept it if it all looks good.

[2017-02-10 05:23] 1N50MN14 commented on #162
@mimig1 Sure thing, https://github.com/Microsoft/azure-docs/pull/697

[2017-02-10 08:28] cgurjar commented on #149
Hmm. Thanks. But to be honest with you for me it is a bit late., I really repent it not available when our POCs was going on. I was pushing for webservice implemented in  NodeJs (as our web service would be just talking to the documentDB - read pure IO operation). I had seen lots of success with NodeJS, especially for IO work, bu the nodeJS sdk for document DB when i tested with all possible optio

[2017-02-10 16:15] limeybastow commented on #168
I've been pondering how it might be fixed without making a breaking change for anyone who's currently successfully using it to return text documents.  One thought I had was to look at the content type and if it was not some sort of text file (text, html, xml etc.) to return a node Buffer object instead of a string.

[2017-02-10 17:26] mingaliu commented on #149
@cgurjar Due to the resource constraint, we implemented this feature later than we like to.  Currently, we are monitoring our customer's requirement/ask more closely and plan our release accordingly.

[2017-02-10 18:49] moderakh commented on #162
Thank you @1N50MN14 for reporting this and your patch for fixing the documentation. As this is an issue in the documentation, I am closing it here, let's track this in the azure docs repo.

[2017-02-10 18:49] #162 closed

[2017-02-11 06:59] cgurjar commented on #149
@mingaliu Hmm. When using NodeJS, we usually write stuff to extract max asynchrony. And not having to send queries in parallel to the documentDb killed my proposal of NodeJs. In future please dont push those features that matter to performance. Because it makes your customer make choices that they would not normally make

[2017-02-23 22:00] moderakh commented on #168
@ato9000 @rnagpal any suggestion on this?

[2017-02-24 06:39] rnagpal commented on #168
I was looking at the .NET version of our SDK and it seems the Media(that represents the attachment content) is of Stream type, so looks like we always return a stream which can be converted based on the content-type. So I'm fine returning a node Buffer object(if that's the equivalent of Stream in Node) for all cases and let the user handle it.

[2017-02-24 07:07] limeybastow commented on #168
@rnagpal - A node Buffer isn't a stream.  It's just a byte array.  In the node version of the SDK you can set the MediaReadMode to either Streamed or Buffered when you connect.  If you set it to Streamed it returns a stream that works fine with binary files.  If you set it to Buffered it's currently returning a string.  I ended up just change the mode to Streamed and that worked fine for me so I w

[2017-03-01 21:18] meteorplus commented on #152
that would be awesome guys :D

I really need this :)

[2017-03-02 03:27] jdnichollsc opened #170 "Promises support"
Hi guys,

In your examples you're using only callbacks, what do you think to support Javascript Promises too? (To avoid the callback hell)
Check my example => http://slides.com/juandavidnicholls/promises#/3

Regards, Nicholls

[2017-03-02 07:54] mingaliu commented on #170
We do have nodejs Q promise based SDK at https://github.com/Azure/azure-documentdb-node-q. The SDK is also published in npm.

[2017-03-02 17:15] moderakh commented on #152
This is an interesting suggestion. Please create a new entry in https://feedback.azure.com/forums/263030-documentdb and we will investigate from there.

[2017-03-03 15:23] cobra08200 opened #171 "createRequest: bad encoding for string when chunk split on special characters"
Hi,

I have a problem when I call document below in my documentDB.
When I have special characters the chunk is corrupted.

When I set the encoding to utf8 before response data callback, the response is not corrupted:
```  response.setEncoding("utf8"); ```

I let you find the best solution for fix the problem ;)

Json document:
[data.txt](https://github.com/Azure/azure-documentdb-node/files/817088/

[2017-03-03 19:03] jacktho commented on #153
The connection still fails when connecting to the documentDB emulator for me. In 1.10.2 and 1.10.1.

`{ Error: self signed certificate
    at Error (native)
    at TLSSocket.<anonymous> (_tls_wrap.js:1079:38)
    at emitNone (events.js:86:13)
    at TLSSocket.emit (events.js:185:7)
    at TLSSocket._finishInit (_tls_wrap.js:603:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:433:38) code: 'DEP

[2017-03-03 22:07] moderakh commented on #171
@cobra08200 thanks for reporting this.

Can you please share the code for reproducing this? Are you just doing `documentClient.readDocument`?

[2017-03-05 11:28] cobra08200 commented on #171
When I use ```documentClient.queryDocuments```

[2017-03-07 19:48] #170 closed

[2017-03-10 18:09] spencerhakim opened #172 "QueryIterator should be a proper iterator"
[ES2015 provides a standard for implementing iterators in JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols), and it's rather misleading that something called `QueryIterator` doesn't actually support this.

[2017-03-12 21:54] tstpierre commented on #153
Same issue, snippet from unit test:
[code]

[2017-03-16 13:44] MatejSkrbis commented on #157
I updated my npm packages from 1.10.2 to 1.11.0 and it looks like the issue is back or at least it's similar.
The error returned is:
[code]

[2017-03-16 14:11] rnagpal commented on #157
@MatejSkrbis With the latest release of emulator, the hostname returned from the server cannot be always "localhost" so we had to make this change. Now you can set DisableSSLVerification option on ConnectionPolicy object to true when connecting to emulator. Let me know if that resolves this issue.

[2017-03-16 14:44] MatejSkrbis commented on #157
I added the DisableSSLVerification option on ConnectionPolicy object, but now it returns different error:

[code]

[code]

[2017-03-16 16:17] rnagpal commented on #157
@MatejSkrbis Yes. You seemed to have an older version of the emulator but the latest client and hence this error was expected.

[2017-03-16 21:18] moderakh commented on #149
addressed in 1.11.0

[2017-03-16 21:18] #149 closed

[2017-03-20 07:57] cobra08200 commented on #171
Hi,

Do you have any news ?

Regards

[2017-03-30 06:19] jcormont commented on #172
A true ES2015 iterator would be impossible to implement, because data is fetched **asynchronously** (in chunks). The iterator _has_ to return something synchronously from the next() call though, and so it would never be able to set `.done` until the data is loaded (not synchronously, i.e. not right away so a synchronous for loop would either quit early or loop forever).

However, there is in fact

[2017-04-03 08:12] GSchroder commented on #157
I am getting this problem still, I am running v1.11.0 of the DocumentDB npm package, on Node.js v7.8.0, and DocumentDBEmulator v1.11.136.2.

[2017-04-03 18:16] schechd opened #175 "Passing partition key when using azure DocumentDB and readDocument(link, options, callback)"
Hi,
I have this function:
find: function (querySpec, callback) {

        var self = this;
        var options = {
                partitionKey: "myCustomKeyName"
        };
        self.client.queryDocuments(this.collectionUrl, querySpec,options).toArray(function (err, results) {
            if (err) {
                callback(err);

            } else {
                callback(null, results);

[2017-04-04 04:46] rnagpal commented on #157
@GSchroder Not sure which error you are talking about: SSL verification one or Invalid API version.
If it's former:
Did you set connectionPolicy.DisableSSLVerification = true; in your client?
You now need to explicitly disable SSL verification when connecting to DocumentDB emulator as above.

[2017-04-04 05:05] rnagpal commented on #157
FYI to everyone of this thread. The issue that we fixed in 1.10.1 to allow connections to emulator automatically doesn't work with the latest releases of emulator as the design has changed, so now you need to explicitly set DisableSSLVerification to true like:
connectionPolicy.DisableSSLVerification = true; in your client to avoid getting Self signed certificate error.

[2017-04-04 14:41] ctstone opened #176 "QueryIterator should use setImmediate for callbacks to avoid max call stack"
QueryIterator's _toArrayImplementation is a recursive/looping async implementation that calls its callback synchronously. This can lead to `RangeError: Maximum call stack size exceeded` for large result sets.

See more: http://stackoverflow.com/questions/20936486/node-js-maximum-call-stack-size-exceeded

The fix is to wrap the callback() in setImmediate or process.nextTick: http://stackoverflow.co

[2017-04-05 06:16] GSchroder commented on #157
Apologies for not being clear, it was the SSL verification issue. Thanks for the info, I didn't realise the design had changed to manually disabling it now.

[2017-04-06 16:29] #175 closed

[2017-04-07 20:45] ankurgupta4891 opened #178 "DocumentClient with permission feed authentication does not work as it should."
The following snippet is of DocumentClient.js client. When client is initialized with permissions array, it builds the resourceTokens object for resourceId and token mappings.
[code]
Since resource url in permission object ends with "/" (see example below). Because of it, `var rid = resourceParts[resourceParts.length - 1];` returns empty string. In next line, this.resourceTokens object will have e

[2017-04-10 09:11] abhishek-raj opened #179 "6. upsertDocument wrong numbering in the samples"
The document https://github.com/Azure/azure-documentdb-node/blob/master/samples/DocumentManagement/app.js has a wrong numbering. Upsert example does not exist in the sample.

[2017-04-10 16:52] ctstone opened #180 "Buffered media should be returned as Buffer, not string"
Media attachments are always returned as strings when `MediaReadMode` is `Buffered`. Expected behavior is to return a raw Buffer object.

A workaround is to use streaming mode, but that is not always ideal.

[2017-04-18 01:39] dwhieb opened #183 "access status codes in request callback?"
Is there any way to access the HTTP status code of the response when using the Node SDK? In particular, when calling `DocumentClient.prototype.upsertDocument()`, I'd like to know whether I'm getting a status code of 200 or 201, so I can return the appropriate code to the client.

[2017-04-26 02:02] dwhieb opened #184 "createDocument and upsertDocument set the `id` attribute of my original data"
The `createDocument` and `upsertDocument` methods of the DocumentClient modify my original data object when invoked. Running code like the following code will add an `id` property to the `data` object.

[code]

The `body` parameter of the `upsertDocument` method gets passed to `upsertDocumentPrivate`, where an `id` is added to the data ([here](https://github.com/Azure/azure-documentdb-node/blob/ma

[2017-04-26 13:59] harshithkashyap opened #185 "Export queryIterator class to allow promisification"
`queryDocuments` and other methods return instance of queryIterator. I looked at the source code but it looks like QueryIterator is not exported and cannot be `require`d to promisify. We'll have to use bluebird promisify on each execution as below:
[code]

[2017-05-02 06:14] beneuto commented on #175
Did you find a resolution for this David?

I am having a similar issue.   Whilst I can't find it documented anywhere, setting the partitionKey option as you did has stopped the query returning an error to the effect that partition key needs to be set.   However, I get no results from a simple query.

[2017-05-05 00:51] marcodalessandro commented on #176
+1

[2017-05-08 18:48] moderakh commented on #171
This is fixed. Will be in the next release.

[2017-05-09 17:01] briancr-ms opened #187 "Export AzureDocuments.ConnectionPolicy"
In order to enable clients to use the default ConnectionPolicy and override parts of it (like RetryOptions), AzureDocuments.ConnectionPolicy should be exported, so clients can write code like:

(In Typescript)
// Get the default ConnectionPolicy.
let connectionPolicy = new AzureDocuments.ConnectionPolicy();
// Override RetryOptions.
connectionPolicy.RetryOptions = { MaxRetryAttemptCount: 20, MaxWa

[2017-05-10 04:17] #171 closed

[2017-05-10 17:32] mehdijazayeri3000 commented on #178
Could you please share your code with us so that we can reproduce the problem?

[2017-05-11 12:02] DmitriyKirakosyan opened #192 "Support Incremental feed for readDocuments"
Using documentDB REST API it is possible to make incremental fetch for documents.
It is achieved by using `A-IM` and `If-None-Match` headers, which is described here:
https://docs.microsoft.com/en-us/rest/api/documentdb/list-documents

It would be nice to have this feature in the Nodejs SDK.

[2017-05-12 10:03] nadeemja commented on #152
There seems to have been an entry created @ feedback.azure.com for meteor support, but was it ever investigated?

[2017-05-12 15:24] jdnichollsc commented on #152
Sorry @mingaliu, I changed company and I'm no longer working with Meteor :/

[2017-05-12 15:32] meteorplus commented on #152
They won't support this  I no longer use Azure!

[2017-05-14 11:43] ghost opened #194 "Connecting to CosmosDB emulator gives 'Unauthorized' error"
Hi,

I'm trying to call a executeStoredProcedure on CosmosDb emulator, but get the following error back:

"{"code":"Unauthorized","message":"The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'post\nsprocs\ndbs/(dbname)/colls/(collectionname)/sprocs/(spr

[2017-05-14 12:39] shaaraddalvi commented on #194
After going through some other issues in this repository, I found a comment that the id provided shouldn't contain a trailing '/'. Maybe we need to handle it in the code and remove it if one exists?

[2017-05-14 18:35] harshithkashyap opened #195 "Document passing partitionKey to deleteDocument method when used with partitioned collection"
From the docs [here](http://azure.github.io/azure-documentdb-node/DocumentClient.html), `deleteDocument` takes only `_self` link of the document as the mandatory parameter. But when the query is run against a partitioned collection, cosmosdb throws the following error:

[code]

As suggested by [this SO answer](http://stackoverflow.com/a/43002819/2254360), passing partition key via options object a

[2017-05-16 07:01] SychevIgor opened #196 "it's time to rename the repo to azure-cosmosdb-node"
Because we had renamed documentDB to cosmosDB - it will be right if we will update the repo name as well.

[2017-05-16 18:56] krishnagopinath opened #197 "Node v6.x support"
[According to the release notes](https://docs.microsoft.com/en-us/azure/documentdb/documentdb-sdk-node), DocumentDB currently supports only up to v4.2.0. But [that version recently moved to maintenance](https://github.com/nodejs/LTS#lts-schedule1) and current LTS version is v6.x.

1) Would you guys support v6.x support in the future?
2) Is anyone in the community using this with Node v6.x and are

[2017-05-16 22:46] moderakh commented on #196
@SychevIgor

Thanks for the question. This repo still provide a SDK for DocumentDB APIs and so we are not planning to change the package name nor the repo name.

[2017-05-16 22:46] #196 closed

[2017-05-16 23:00] mehdijazayeri3000 commented on #194
Hi, I appreciate if you send a sample code so we can reproduce this problem.

[2017-05-18 16:49] moderakh commented on #197
@krishnagopinath thanks for your question. We will be looking into supporting v6.x

[2017-05-23 12:45] meakyl commented on #197
It's working with v6.9.1 for a couple of month without compatibility issues on my project.
Doesn't mean it will work for everybody though.

[2017-05-24 18:44] moderakh commented on #197
@krishnagopinath @meakyl thank you for your comments.
We officially support v6.x. That will be added to our officially supported platforms in the next few days.
And also the existing npm module just works fine with v6.x.

[2017-05-25 17:17] moderakh commented on #197
node v6.x added to the officially supported versions:
https://docs.microsoft.com/en-us/azure/documentdb/documentdb-sdk-node

[2017-05-25 17:17] #197 closed

[2017-05-26 10:07] ronenteva commented on #170
Hey @mingaliu, it seems that the promise based SDK is not being updated as frequently as this one.

[2017-05-26 15:19] jdnichollsc commented on #170
@mingaliu To improve the quality of the code and for maintenance purposes, I think it would be much better to have only one repository that support callbacks and promises.
Regards, Nicholls

[2017-05-30 08:18] TE-yujianishiyama commented on #194
Hi, I have same problem...
I'm using emulator version: 1.13.58.2 / azure-documentdb-node : 1.12.0

   { Error: self signed certificate
       at Error (native)
       at TLSSocket.<anonymous> (_tls_wrap.js:1092:38)
       at emitNone (events.js:86:13)
       at TLSSocket.emit (events.js:185:7)
       at TLSSocket._finishInit (_tls_wrap.js:610:8)
       at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:

[2017-05-30 16:12] moderakh commented on #194
@TE-yujianishiyama this is related to SSL certificate validation and is different from the authorization issue reported.

Since emulator SSL certificate is self signed, the SDK fails to validate the emulator's self signed certificate. When working with emulator you should disable SSL verification at the node SDK side to avoid this.

There is an option for this:
``connectionPolicy.DisableSSLVerific

[2017-05-30 22:50] TE-yujianishiyama commented on #194
@moderakh  Thanks 👍 　, ｍy test code was able to run in the local environment.

[2017-05-30 22:56] moderakh commented on #194
@TE-yujianishiyama I am happy to hear that :-)

[2017-06-06 23:44] rnagpal commented on #107
This has been fixed in the latest Node.js SDK.

[2017-06-06 23:44] #107 closed

[2017-06-08 10:18] AranVinkItility opened #198 "Memory leak when using DocumentClient?"
I'm using the DocumentClient in production with Azure Functions, it all works fine, but I'm seeing an increase in memory consumption over time.

To test what was causing this I replaced all of my external calls with stubs, then reran the application for a longer time. No memory leak occurred.

Only after re-enabling the DocumentDB client my memory consumption started to rise.

Using heapdump, I ca

[2017-06-14 07:27] lucarv opened #199 "connection pool closing"
i am accessing my cosmos db with mongoose. i create a connection pool when i start my (very simple) app. i then get intermittent (but frequent) error messages from the API when searching the database (very simple query, {} on a collection with objects in it). the error is {"name":"MongoError","message":"pool destroyed"}. i search around and the suggestions i got were related to closing the connect

[2017-06-14 18:08] moderakh commented on #199
Hi @lucarv,

This seems to be a mongodb issue and I think you are not using our documentdb nodej sdk.
So please follow your question here:
https://feedback.azure.com/forums/599059-azure-cosmos-db-mongodb-api/suggestions/19361521-fix-bug-that-destroys-nodejs-mongodb-connection-po

[2017-06-14 18:08] #199 closed

[2017-06-16 20:25] mehdijazayeri3000 commented on #176
I am trying to reproduce this problem but unfortunately I was not successful. May I know what your query is and how large is the result? Also, it'd be great if you could give us a code to reproduce it.

[2017-06-19 17:04] moderakh commented on #198
@AranVinkItility
Could you please share the code to reproduce this (which queries are you using, etc)? I will have someone to look at this.

[2017-06-19 18:52] moderakh commented on #176
@ctstone @marcodalessandro our team is looking into this. Could you please share your code for how to reproduce the call stack issue?
* what's your query?
* how many docs do you have?

[2017-06-20 01:36] ctstone commented on #176
@mehdijazayeri3000, @moderakh, please see repro at https://github.com/ctstone/repro-documentdb-176

The key, I think, is the large maxItemCount, (5000) combined with large-ish documents. I added some logging to `defaultQueryExecutionContext.fetchMore` to see how many documents are coming down over the wire, and it fails when the number reaches around 4500 in one response. My average document size

[2017-06-20 01:46] moderakh commented on #176
@ctstone
Thank you for giving us more information. We will fix this.

[2017-06-21 01:01] mehdijazayeri3000 commented on #176
@ctstone Thank you so much. We will fix this as soon as possible.

[2017-06-21 21:31] janl opened #200 "Unauthorized, The input authorization token can't serve the request: url encoding issue"
Similar to #82, we’re seeing the error message in the title. The full error object is this:

[code]

My doc id is `ÿattach-storeÿmd5-CRq749X7%2fwgSD6EQeGTuFg==` and as you can see it has a `%2f` in it, and the underlying auth system seems to do a URL-Decode on the input key when signing the request.

Is this expected behaviour? What is the recommended way to encode and decode keys in a way that it

[2017-06-21 21:31] janl commented on #200
PS: this is on the emulator.

[2017-06-23 07:23] AranVinkItility commented on #198
@moderakh Would really appreciate it, here is my code:
[code]

[2017-06-23 23:36] moderakh commented on #200
@janl
* If you try to use the DocumentDB/CosmosDB cloud endpoint does this work?
* Does your problem only apply to docs with special characters? if your doc has only alphabetical ASCII chars does this work?

[2017-06-23 23:40] moderakh commented on #198
@mehdijazayeri3000  can you please take a look at this?

[2017-06-25 02:55] uredkar commented on #153
I am getting the same error.
Error: self signed certificate
    at TLSSocket.<anonymous> (_tls_wrap.js:1098:38)
    at emitNone (events.js:105:13)
    at TLSSocket.emit (events.js:207:7)
    at TLSSocket._finishInit (_tls_wrap.js:628:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:458:38)

The following is my package.json, I just upgraded to new version of nodejs.
{
  "name": "Todo",
  "versio

[2017-06-25 12:26] dimoibiehg commented on #153
The following setting for client works for me in typescript:

    export var docDbClient = new DocumentClient(dbConfig.endPoint, {
    masterKey: dbConfig.peimaryKey
    },
    {
        DisableSSLVerification :true,
        EnableEndpointDiscovery : false,
        MediaReadMode : "Buffered",
        RequestTimeout : 10000,
        MediaRequestTimeout : 10000,
        PreferredLocations : [],

[2017-06-26 14:54] janl commented on #200
This question is specifically about how to encode slashes in keys.

[2017-06-26 19:00] moderakh commented on #153
interacting to documentdb uses SSL. since emulator certificate is self signed you need disable SSL verification when interacting with emulator.

@uredkar  so as @dimoibiehg pointed out if you pass 'DisableSSLVerification : true' it should work for you.

[2017-06-26 23:32] moderakh commented on #200
@mehdijazayeri3000 I think you already worked on a similar problem, can you please take a look at this?

[2017-06-27 18:21] mehdijazayeri3000 commented on #200
Authorization token eventually gets ENCODED however, it should not make a problem as it will be decoded on the server side.
Would you please provide us these information?
1. what operation are you trying to do? (create/read/update/remove on db/col/doc/user/...)
2. what are the resource names used? are you using any illegal character (['/', '\', '?', '#']) in resource names?
3. what kind of authori

[2017-06-28 01:02] mehdijazayeri3000 commented on #198
That's probably because toArray() implementation. Before we release the new version, please
go to queryIterator.js. file and find_toArrayImplementation function. Change this line
"**that.toArrayTempResources = that.toArrayTempResources.concat(resource);**"
with "**that.toArrayTempResources.push(resource);**"
Please let us know if that solved your problem.

[2017-06-28 12:24] itilitymaarten commented on #198
@mehdijazayeri3000 I'm a colleague of @AranVinkItility, I'll be taking over this issue in his absence.

I have tried your suggestion but I don't see an improvement, the heap size at the end of the function run stays the same (give or take a few KB, of course) as it was before the modification.

[2017-06-29 02:25] mehdijazayeri3000 commented on #198
@AranVinkItility Testing memory leak in node is a bit tricky. V8 GC is not a reference-counting GC. Instead, it does a full mark-and-sweep GC. It won't start cleaning up unless we get over a certain amount of memory. Please read this <a href = 'https://strongloop.com/strongblog/node-js-performance-garbage-collection/'>post </a> for more information.

[2017-06-29 08:30] itilitymaarten commented on #198
@mehdijazayeri3000 I agree that we can't easily conclude there is a memory leak, however I still have my suspicions. I've looked into forcing garbage collection, and came up with the following code:

[code]
You have to run this with `node --expose-gc` to enable the `global.gc()` function.

I've tried every trick I know to ensure the DocumentClient instance and all other data goes out of scope, cal

[2017-07-16 05:39] juiyout commented on #152
For DocumentDB to work with Meteor, I believe Azure would need to have a more complete support for MongoDB API and provide OPLOG URL. At this moment, I don't think it is suitable.

As I understand, DocumentDB team sometimes need to balance between API compatibility and performance. I can completely understand as DocumentDB might have complete different internal workings than MongoDB.

Now, isn't M

[2017-07-16 05:43] meteorplus commented on #152
@juiyout it's pretty simple to throw a ready to use VM in their azure market but no they didn't want to do it!

also for graphql yes it will allow you to other DB but not simple since most meteor apps were meant to be used for mongodb but there is some good work for migration to new other DB (MySQL...) but just understand to migrate to another DB you will have to refractor a lot of code to make su

[2017-07-16 05:50] juiyout commented on #152
@meteorplus Ah, yes. They could just host MongoDB until their DocumentDB is compatible enough.

However, in this case, you could search for MongoDB in Azure market. There are MongoDB offer from Bitnami. I suppose you could just fire them up and see if it works. Never tried them myself though.

[2017-07-16 17:38] jderus commented on #194
@moderakh

Yeah, with your link I was able to get a workaround going. Thanks.
Something like:
[code]

But honestly, I think the recommendation in #187 is better for all.

[2017-07-18 07:21] yifanwu opened #201 "`executeStoredProcedureAsync` doesn't exist per documentation?"
The issue is resolved --- I did not install the q promise rapper.

I might be missing something, but I cannot seem to get the code here to work https://docs.microsoft.com/en-us/azure/cosmos-db/programming --- I searched the repo and cannot find the corresponding function `executeStoredProcedureAsync` either --- rather strange that tutorial code doesn't work?

[2017-07-19 01:24] #201 closed

[2017-08-02 13:01] ddolheguy commented on #78
Do we have any planned date on this?  It's a pretty important feature and let's just say DocumentDB isn't cheap so can we please get some kind of timeline on when this will be available?

[2017-08-02 23:19] moderakh commented on #78
@ddolheguy we don't have a fixed plan for supporting direct connectivity in our nodejs sdk.

Our .NET and Java SDKs have support for direct connectivity and can be used for better performance.

Also please try to avoid using .toArray() if you know there are a large number of matching results.
toArray(.) will retrieve all result and buffer in memory and so is slow and also may put pressure on memor

[2017-08-11 00:40] moderakh commented on #114
fixed in 1.12.2

[2017-08-11 00:40] #114 closed

[2017-08-11 00:40] moderakh commented on #178
fixed in 1.12.2

[2017-08-11 00:40] #178 closed

[2017-08-11 20:55] moderakh commented on #200
We did a new release of 1.12.2
please test it and if this still is an issue feel free to reopen this bug.

[2017-08-11 20:55] #200 closed

[2017-08-11 21:07] moderakh commented on #176
This has been fixed in our 1.12.2 release. Please try that out.

[2017-08-11 21:07] #176 closed

[2017-08-11 21:15] moderakh commented on #146
Please use queryIterator.executeNext(callback(err, resources, headers)).
headers should have the request charge for both single partition collection and multi partition collection. Please use the latest version.

[2017-08-11 21:15] #146 closed

[2017-08-15 03:42] saibotsivad commented on #146
@moderakh Previously this issue was marked as closed because it was a ["non-documented feature"](https://github.com/Azure/azure-documentdb-node/issues/146#issuecomment-252721638). I still don't see the headers as being a [documented returned property](http://azure.github.io/azure-documentdb-node/QueryIterator.html), so even if it works _now_ with the latest version of [documentdb](https://www.npmj

[2017-08-15 17:25] moderakh commented on #146
@saibotsivad we will support returning request charge if you use `queryIterator.executeNext(callback(err, resources, headers))`
In case of a cross partition query `headers` will at least have the request charge.

Feel free to send a PR for updating the documentation for executeNext(.) saying that headers will accessible as the third arg.

[2017-08-19 18:58] alex-gadea opened #206 "ReplaceDocument RequestOptions object documentation may not be correct"
According to the documentation, I should pass an object that looks like

`{ accessCondition: { type: "IfMatch", condition : "someEtag" }}`

If I pass the above object in a ReplaceDocument command as the option value, it seems to have no effect.  However, if I instead send the options object as so:

`{ etag: "someEtag" }`

ReplaceDocument will return an error if the etags do not match.

It would se

[2017-09-20 10:44] markusahlstrand opened #207 "Request charge missing when using queryExecutionContext"
We moved back from our fork as the queryExecutionContext now seemed to include the request-charge. There does however seem to be a fairly common case when you're querying across partitions that most of the request charges are lost. I would guess that any queries that doesn't return any items don't make it as they're not tied to an item?
Is there a way to get around this with the current version of

[2017-09-20 18:30] Hosar commented on #153
I solved this issue using **https** on the endpoint
https://localhost:8081/
And setting the following when running the script.
**set NODE_TLS_REJECT_UNAUTHORIZED=0**

[2017-09-20 18:45] moderakh commented on #153
@Hosar yes set NODE_TLS_REJECT_UNAUTHORIZED=0 works too however the problem with that is it will disable tls authorization across your node runtime not for only the https://localhost:8081/ which was intended.

[2017-09-21 18:48] bterlson opened #208 "Change feed support?"
According to the [docs](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed#rest-apis), "You can also retrieve the feed of documents using one of the supported Azure Cosmos DB SDKs". I presume this module is not one of the supported "SDKs" as I'm not seeing a like-named API. Any plans for supporting this?

[2017-09-21 18:52] paullintilhac commented on #82
I had the same error, and resolved it by using my primary read-only key in azure instead of my primary read/write key

[2017-09-27 21:16] lilyS123 commented on #102
I have ECONNRESET errors thrown by document db client running node version 6.11.2 on VirtualBox with Windows10 installed.

[2017-10-03 04:50] graham-sportsmgmt opened #209 "DocumentClient Configuration Using Environment Variables"
Could we please have the DocumentClient check the environment variables for its configuration?  It's no big deal to write the configuration out using process.env, but the other Azure products seem to be moving in this direction.

For example, the Azure Storage sdk looks for these:

AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_ACCESS_KEY, or AZURE_STORAGE_CONNECTION_STRING.

[2017-10-07 01:50] DDeme commented on #78
Can this be done by community ? It´s hard to not have advertised and paid feature.  Where should we start ?

[2017-10-12 08:25] yi-wan opened #211 "Multi-bytes characters in document may become ���"
I found an issue in our product that some Chinese characters may become ��� from time to time. It turns out it's due to the sdk is getting chunked **binary** data from the server and concatenating them as **string** together.
https://github.com/Azure/azure-documentdb-node/blob/eba6c2e25609b319a9fb6348fdd1a75d18a4bc2e/source/lib/request.js#L78

Since our document contains some unescaped Chinese cha

[2017-10-12 16:39] moderakh commented on #211
@yi-wan which version of DocumentDB Node.js sdk and which version of Node.js Platform are you using?

[2017-10-13 01:23] yi-wan commented on #211
It's SDK version 1.11.0 and node.js version 6.9.1

[2017-10-13 02:03] moderakh commented on #211
Your SDK version is a few versions behind. Please upgrade.

Unicode handling issue has already been adressed. Plz see the change log section for  1.12.2 here:
https://github.com/Azure/azure-documentdb-node/blob/master/changelog.md

[2017-10-13 02:03] #211 closed

[2017-10-13 02:20] moderakh commented on #211
Plz feel free to re open the issue if upgrading to the latest version of SDK doesn't fix your issue.

[2017-10-13 03:12] yi-wan commented on #211
Thank you. The issue is fixed after I upgraded to the latest version. The type of 'chunk' is now string, too.

[2017-10-21 08:46] markusahlstrand commented on #207
@moderakh if we do a PR for this, could we count on getting it reviewed fairly soon?

[2017-10-23 01:31] moderakh commented on #207
@markusahlstrand with recent changes, in cross partition query `mergeHeaders` sums up the request charges and eventually the aggregated request charge will be passed to the callback which was registered with `queryIterator.executeNext(callback(err, resources, headers))`

I am trying to understand your question. Are you seeing that still request charge is not available to your callback for some sce

[2017-10-26 15:15] markusahlstrand commented on #207
Ok, I'll give an example.

If we make the following query to the sdk...
`SELECT TOP 10 e FROM shows e WHERE e[\"type\"]= @e_type ORDER BY e.created ASC`
.. I get 282.99 Requets Units back from the the first set of headers in the queryExcuctionContext.
All the other headers are 0.

If I on the other side do a console log in the headersUtil I get the following output:
[code]

If I remember correctly

[2017-10-26 16:12] markusahlstrand commented on #207
I got fooled by that the mergeHeaders keeps adding the charge in the headers object. It does indeed seem to work correctly.

Thanks!

[2017-10-26 16:12] #207 closed

[2017-10-31 05:00] dilantha111 commented on #194
@jderus  That didn't work for me. But I found this in the sample nodejs application they provide. And it worked for me. Just setting NODE_TLS_REJECT_UNAUTHORIZED to 0. we can set this in a npm start script. That's what exactly in the sample nodejs application which comes with cosmosDB local emulator.  `"scripts": {
    "start": "set NODE_TLS_REJECT_UNAUTHORIZED=0&& node app.js"
  },`

[2017-11-06 19:07] andrehsmendes opened #214 "Pagination"
Hello,

How is the pagination working with the node sdk?

I've been trying to do pagination using FeedOptions on queryDocuments but i cant get it to work and i cant find any references to this matter either.

Can someone point me in the right direction?

Thank you

[2017-11-06 19:59] moderakh commented on #214
hi @andrehsmendes
please take a look at this:
https://github.com/Azure/azure-documentdb-node/blob/master/source/test/crossPartitionTests.js#L409-L432

[2017-11-06 21:42] andrehsmendes commented on #214
@moderakh thank you.
I was really helpful.

I think that Microsoft could have done a better work on the documentation for nodejs sdk. Some things are really difficult to find.

thx again.

[2017-11-06 21:42] #214 closed

[2017-11-07 19:17] andrehsmendes opened #215 "The continuation token specified in the request is malformed"
Hey,

I'm really having a hard time trying to make pagination work.

This is what i have:
[code]
[code]

**Continuation Token:**
`{"token":"-RID:K0JYAKIH9QADAAAAAAAAAA==#RT:1#TRC:2","range":{"min":"","max":"FF"}}`

**Return Error:**
`{ code: 400,
  body: '{"code":"BadRequest","message":"Message: {\\"Errors\\":[\\"The continuation token specified in the request is malformed. Please re-run the query

[2017-11-07 21:00] kirankumarkolli commented on #215
@srinathnarayanan could you please take look at this?

[2017-11-07 21:01] kirankumarkolli commented on #206
@srinathnarayanan  please look into this.

[2017-11-10 08:22] joaomoreno opened #217 "1.14.0 is broken on Linux"
There' s bad require call in https://github.com/Azure/azure-documentdb-node/blob/master/source/lib/documentclient.js#L36:

[code]

The file is actually called `sessionContainer.js`, so the require is using the wrong casing. This breaks in every case sensitive FS.

[2017-11-10 11:05] benc-uk commented on #217
I see this is fixed in a recent PR, any idea when this will get released and be avail on NPM? This is a blocker for me

[2017-11-10 15:19] andrehsmendes commented on #215
Hey, is this repo still alive? @srinathnarayanan

[2017-11-10 15:45] rossvernal opened #219 "v1.14 stops me connecting to my Cosmos emulator locally"
I get the error:

"Error Invalid API version. Ensure a valid x-ms-version header value is passed"

There is no update to the emulator.

Dropping to 1.13 stops the issue from happening.

[2017-11-10 18:55] #217 closed

[2017-11-10 21:12] srinathnarayanan commented on #215
Hi @andrehsmendes it is. What issues are you running into and where is you endpoint located?

[2017-11-10 21:20] andrehsmendes commented on #215
Hey @srinathnarayanan

I'm trying to do pagination with CosmosDB. I'm not entirely sure how to achieve this with CosmosDB but i saw in some test files using continuation token to do so.

Look my example above, this is what i'm doing to paginate my calls to the DB.

What do you mean by where is the endpoint located?

[2017-11-10 21:29] srinathnarayanan commented on #215
you are running a cross partition query and hence the continuation token has a range component. We do not support the use of continuation tokens to get the next page on cross partition queries. If it were a query running on a single partition, the continuation token will have only the token component, which can be used for pagination.

[2017-11-10 21:56] andrehsmendes commented on #215
Hey @srinathnarayanan

I'm querying one Collection and the collection is the LIMITED 10gb/ not partitioned.

[2017-11-12 17:23] srinathnarayanan commented on #219
This SDK version requires the latest version of Azure Cosmos DB Emulator available for download from https://aka.ms/cosmosdb-emulator. We will update the changelog to reflect the same, shortly

[2017-11-13 10:26] rossvernal commented on #219
@srinathnarayanan thanks - that worked. Wish the Cosmos Emulator would auto-update, but that's another question for another day!

[2017-11-13 10:28] #219 closed

[2017-11-13 21:50] srinathnarayanan commented on #215
Hi @andrehsmendes can I know your use case? If you are trying to get pages of a fixed size, setting the maxItemCount in the options would be enough. The queryIterator returned will take care of the continuation token for subsequent 'executeNext()' operations.

[2017-11-15 15:14] andrehsmendes commented on #215
@srinathnarayanan

I see. makes sense.

Another question that i have is, how would you control the pagination? for example:

PAGE-1   PAGE-2   PAGE3

Going from page 1 to 3 and from 3 to 1.

Thank you for your help so far.

[2017-11-27 19:07] lilyS123 commented on #78
Is there any limitation to not supporting direct connectivity in Node SDK?  Why is it not being added to Node SDK well?  Our application interactions with document DB have been coded using Node SDK and asking us to rewrite in Java or .Net is not a reasonable ask given that Azure advertises Node.js support as well.

[2017-12-01 01:18] srinathnarayanan commented on #215
The first time you are accessing the results, you will have to go in sequence since you will not know the continuation token. Once you have accessed a page, you can cache/ save the continuation token (and perhaps map it to the page number). For subsequent queries, you can go from page 1 to page 3 or vice versa using these cached continuation tokens.

[2017-12-01 02:29] srinathnarayanan commented on #206
Hi @alex-gadea , can you please elaborate on the issue? What do you mean by no effect?
The current behaviour is that when you use
{ accessCondition: { type: "IfMatch", condition : MATCHING_ETAG }}
as the requestOption value, the replace operation will go through and if you use a non matching etag, the replace operation will throw a 412 Precondition failed error.

However using just
{ etag: "someEt

[2017-12-05 22:19] moderakh commented on #215
I am closing this for now as the initial problem is answered. please feel free to open an issue if you face problem.

[2017-12-05 22:19] #215 closed

[2017-12-07 22:30] moderakh commented on #209
@graham-sportsmgmt  I think these environment variables are meant to be used in azure-xplat-cli not the SDK.

[2017-12-07 22:30] #209 closed

[2017-12-07 23:23] graham-sportsmgmt commented on #209
Why then do other Azure SDK's use this method?

https://github.com/Azure/azure-storage-node

It is also one of the 12 Factors used in SaaS best practices:

https://12factor.net/

[2017-12-13 07:00] guptakumartanuj commented on #215
I am just running into the same but for the cross partition query. So I am curious to know  how to support pagination in my application when I have data across the partitions.

[2017-12-14 10:53] yingting2017 opened #221 "Implement the pagination using continuation token with cross partition"
Use-Case: Let’s say user wants to access 10 records starting from 100th index (order by query may change based on timestamp, city or name etc.).

So, one way is to set the page size as 10 (this can any fixed number) and then make a call to the queryDocuments(collectionLink, sqlQuery, feedOptions) API. In the response of this API, we get the FeedResponse and using fetchNextBlock() API of FeedRespon

[2017-12-15 01:16] tony-gutierrez commented on #195
This also makes it impossible to delete documents that were saved without a partition key. Also the PartitionKey(Undefined.value) seems to be missing from the node sdk.

[2017-12-15 01:27] tony-gutierrez opened #222 "Impossible to delete documents that have no partition key."
Apparently in the .NET sdk there is a constant for "Undefined Partition Key", but no such constant seems to exist in this sdk.

So that makes it impossible to delete (or update) a document that has no partition key.

[2017-12-19 22:36] srinathnarayanan commented on #206
I am closing this issue for now. Feel free to reopen it if this is an issue you are still running into. Thanks!

[2017-12-19 22:36] #206 closed

[2017-12-20 23:34] khdang opened #224 "Aggregate query on single partition collection may return multiple values"
The right behavior is the SDK doing the aggregation and return a single value for aggregate queries.

https://stackoverflow.com/questions/47875869/why-does-select-count1-from-c-change-values-each-time-i-query-it-in-cosmosdb-d

[2017-12-29 21:43] alohaninja commented on #102
I'm getting frequent ECONNRESET errors with node v8.2.1 on Win 10 using documentdb 1.12.2 package.  `documentClient.upsertDocument` results in the error below:

[code]

[2018-01-02 14:40] ssured commented on #208
It would be really nice to have node support for the changes feed functionality. Any updates / roadmap? Thanks

[2018-01-06 02:23] Huan9 opened #225 "After fail over to another region and delete the old region, the connection is still try to talk to the old region"
We did a fail over from `East US 2` to `West US` due to some resources constrain. After the fail over is done, we have to manually delete the `East US 2` region. However, after fail over, for almost 2hours time period, all our requests using this library fail to get any results back.

As our service make request to endpoint https://xxx.documents.azure.com/ to query data, but we got error response

[2018-01-09 22:35] moderakh commented on #225
@Huan9 thanks for reporting this here. We will look into this.

[2018-01-12 05:13] limeybastow opened #226 "Have a way of returning the aggregate x-ms-request-charge header from the QueryIterator.toArray() call"
For performance logging, it would be nice to be able to be able to retrieve the aggregate request charge from the QueryIterator.toArray() call.  Currently the last response headers are returned in the callback if an error occurs, however nothing is returned on a successful call.  A quick and dirty method might be to collect all of the headers in an array and return those in the callback but that m

[2018-01-20 01:55] StephenWeatherford opened #227 "DatabaseAccounts.get() does not return gremlinEndpoint"
If you have a newly-created (post-GA, Dec 20) CosmosDB account with a graph in it, it will have a "gremlinEndpoint property" and "EnableGremlin" in capabilities:

{
  "id": "/subscriptions/XXXX/resourceGroups/saweathergraphtest/providers/Microsoft.DocumentDB/databaseAccounts/graphtest",
  "name": "graphtest",
  "type": "Microsoft.DocumentDB/databaseAccounts",
  "kind": "GlobalDocumentDB",
  "prope

[2018-01-26 23:47] olivertowers commented on #227
Node.js Documents SDK is used to target the Document (SQL) API only, and does not include details about other APIs support by CosmosDB such as Gremlin, Cassandra etc.

The recommendation is to use Azure tools to retrieve your `Microsoft.DocumentDB/databaseAcccount` resources to automate gremlin endpoint discovery.

[2018-02-08 22:32] srinathnarayanan commented on #226
Hi @limeybastow You can use the QueryIterator.forEach() call for that very purpose. For example, if you want to read 5 documents per page, you can use the following snippet :

var queryIterator = client.queryDocuments(COLLECTION_LINK, "Select * from c", { maxItemCount: 5 });
        var count = 0;

        queryIterator.forEach(function (err, doc, headers) {
            if (doc === undefined) {

[2018-02-08 23:10] beneuto opened #228 "PreferredLocations ignored"
I have a Cosmos database replicated over 2 regions.   Client is defined as below.   However, no query is ever sent to Australia Southeast.

[code]

[2018-02-08 23:37] srinathnarayanan commented on #222
Hi @tony-gutierrez The undefined partition key in the .NET SDK is converted to an empty JSON while being sent at a http request. You can replicate this behavior on the Node sdk using the following :

    client.deleteDocument( DOCUMENT_LINK , { partitionKey: {} }, function (err, document) {
            console.log("document deleted")
        })

[2018-02-08 23:52] srinathnarayanan commented on #195
@harshithkashyap deleteDocument needs the partitionKey to be passed via the request Options. The docs have been updated to reflect the same. Thanks.

[2018-02-08 23:52] tony-gutierrez commented on #195
That still doest address the fact that the Undefined.value constant is missing from the node SDK.

[2018-02-08 23:53] tony-gutierrez commented on #222
Ill try it.

[2018-02-08 23:56] srinathnarayanan commented on #195
@tony I have provided a work around on this thread : #222. Please check that out and let us know if you had any other questions!

[2018-02-08 23:59] srinathnarayanan commented on #228
Hi @beneuto. Couple of questions. Which operations are you running? Which are the read locations and which are the write locations, as configured for your account ?

[2018-02-09 07:04] beneuto commented on #228
I am only using queryDocuments.   Australia East is write and Australia Southeast is read.

[2018-02-13 16:21] crowster commented on #82
My problem was very simple,  I was using a bad url

[2018-02-28 13:00] gluwer opened #229 "Headers not returned in toArray() if there are results"
Hi,

I know that for `toArray()` it is not in official docummentation, but as third parameter of callback there is headers from last request returned. The problem is that it works only if there are no results in the query.

The cause is line https://github.com/Azure/azure-documentdb-node/blob/a16b82152f37886dec1d7d7eb301e769179f73ef/source/lib/queryIterator.js#L144 which is executed also in the la

[2018-02-28 14:13] jbrozena22 commented on #200
This needs to be re-opened, it's still a problem.

Using the latest version of the package (1.14.2)

Steps to reproduce:
0) create a database called databaseID and a collection called collectionID
1) create a new document in this collection using the portal online set it's ID to test%3A
2) Run the following code:

[code]

The result is the document is query-able via that ID, but when you go to del

[2018-02-28 22:34] srinathnarayanan commented on #222
I am closing this as the initial query has been addressed. Please feel free to reopen it if you have any followup. Thanks!

[2018-02-28 22:34] #222 closed

[2018-02-28 22:35] srinathnarayanan commented on #226
I am closing this as the initial query has been addressed. Please feel free to reopen it if you have any followup. Thanks!

[2018-02-28 22:35] #226 closed

[2018-02-28 22:36] srinathnarayanan commented on #221
I am closing this as the initial query has been addressed. Please feel free to reopen it if you have any followup. Thanks!

[2018-02-28 22:36] #221 closed

[2018-02-28 23:49] tony-gutierrez commented on #222
Did it make it to any documentation?

[2018-03-02 20:42] benc-uk opened #231 "Promise support"
Are there plans to introduce a Promise based version of the library?

They have been in language since 2015 and now with async/await they are core part of how people write modern JavaScript

[2018-03-05 06:20] gluwer commented on #231
There is a https://github.com/Azure/azure-documentdb-node-q. Not using it personally so cannot tell much about it but it exists :)

[2018-04-03 01:48] NoCopy opened #232 "QUESTION: What is the proper REST request option for throughput?"
I have tried submitting 'offerThroughput:20000' and just 'throughput:20000' but both options end up at 5100(?!). Looking at the REST API I understand it accepts a request header however it looks like that is being translated by this node lib?

AND

I am creating a partition key as well

Full options (in COLLECTION):

`COSMOS: {
        DB: 'XXX',
	COLLECTION: {
		'id': 'YYY',
		'offerThroughput':

[2018-04-09 22:35] tony-gutierrez opened #233 "upsert example missing"
According to the Toc there is an upsert example here: https://github.com/Azure/azure-documentdb-node/blob/master/samples/DocumentManagement/app.js  but it is skipped in the code.

[2018-04-10 19:01] amitbend commented on #231
+1 for that.

[2018-04-10 19:52] plasne opened #234 "Need way to set agent or at least maxSockets"
Since Azure Web Apps (as well as other services) use SNAT for outbound connections there can be a very limited number of outbound ports available (~128) and those are shared among all the other service calls the application might be making. The agent appears to be set for maxSockets: infinity.

The best implementation if this didn't mess anything else up would seem to be to accept an existing agen

[2018-04-11 17:33] jcormont commented on #231
You can also take a look at [documentdb-typescript](https://github.com/jcormont/documentdb-typescript). No TypeScript required if you're using modern JS and async/await.

[2018-04-13 16:36] princjef opened #235 "Some helpers throw strings which are hard to debug"
When working with the SDK, some usage mistakes result in the client throwing strings. In a system with multiple components, this becomes very hard to debug because there's no stack trace to figure out where the error came from. Can these be switched to `throw new Error(str)` rather than `throw str`?

A cursory scan revealed the following strings being thrown (there may be more I missed):

 * https

[2018-04-20 07:13] tony-gutierrez commented on #78
MS doesnt put any effort into making their Node SDKs have feature parity with .NET. Dinosaur.

[2018-04-25 15:50] rfigueroa opened #236 "QUESTION: How to specify unique keys using DocumentClient.createCollection"
On the Azure portal when creating a collection you are able to add unique keys.
How can you do this using the Node sdk?

[2018-05-01 22:31] PrashanthCorp opened #238 "Usage of undefined Partition keys in Typescript"
There was a solution outlined in #222 regarding queries about documents missing the partition key. Note however, that while `partitionKey: {}` works, `partitionKey: "{}"` does not.
In light of that, it looks like partition key value should allow empty objects as valid values.

However, neither the typings in this package nor in the @types/documentdb package seem to acknowledge this. [Here's](https

[2018-05-02 08:43] markusahlstrand opened #239 "Expose the activityID in the headers"
When working with support-team for cosmosDB they always request the activityID from the query. As this currently isn't exposed in the node-sdk we have to modify the sdk to get a hold of it. Would be super nice if this id was returned by default.

[2018-05-02 20:47] srinathnarayanan commented on #233
Thanks for bringing this to our attention. Would you like to send a PR for this @tony-gutierrez ?

[2018-05-02 21:45] tony-gutierrez commented on #233
No, I want microsoft to document their own SDKs so that I don't waste my time trying to imagine how to use the services I pay them for.

[2018-05-02 22:08] srinathnarayanan commented on #233
We will update the sample soon. Thanks!

[2018-05-02 23:04] srinathnarayanan commented on #239
You can get it from the headers using headers["x-ms-activity-id"]

[2018-05-07 21:30] srinathnarayanan commented on #234
The latest version of the SDK has maxSockets: 256. We are working on a patch that would allow the agent to be passed in as part of the connectionPolicy that sets up the document client. Meanwhile, would you like to send a PR for this?

[2018-05-08 19:47] pgraham opened #240 "Add support for connection string"
I'm currently trying to connect using a connection string instead of separate endpoint and auth keys but am getting and error:

[code]

Attempting to perform any action with this client results in the following:

`Error: connect ECONNREFUSED 127.0.0.1:443`

Connection strings are provided in the Azure Portal UI and are easier to manage than an endpoint/authKey pairs. Please consider adding support

[2018-05-08 19:58] pgraham commented on #240
To anyone who finds this, you can provide your own support for this using the _cookie_ module:

[code]

Still, having this built in would be nice.

[2018-05-10 00:02] NoCopy commented on #232
Not sure if this was an emulator issue only but in the proper cosmos db environment this appears to be working. I also went back and checked, with the latest cosmos db emulator installed this also appears ok. Closing issue.

[2018-05-10 00:02] #232 closed

[2018-05-16 20:21] arichiardi commented on #236
I am interested too, I am reading this in the docs:

Is there a plan to support the functionality in the node client as well?

[2018-05-21 10:47] goodisontoffee commented on #215
@srinathnarayanan is it still the case that presenting a continuation token for a cross-partition query is not supported? I'm struggling to find anything that makes this clear in the documentation and before I start rewriting our code, I'd like to make sure I'm not wasting my time.

Thanks in advance.

[2018-05-23 10:27] chhantyal commented on #78
Has anyone tried concurrent queries? DocumentDB is joke when it comes to performance.

[2018-06-05 18:04] christopheranderson commented on #240
What if we shipped a connection string parser?

[code]

Issues I can see with supporting connection string directly in the constructor is the error handling becomes messier for parsing errors.

[2018-06-05 18:05] #239 closed

[2018-06-05 18:09] christopheranderson commented on #234
In the current version of the SDK, you can modify the agent on the documentClient itself to customize this.

In the next version of the SDK, we'll expose a options object which allows you to pass a https.Agent as part of the constructor to control the configuration of how many sockets are consume.

[2018-06-05 18:11] christopheranderson commented on #231
This work is done in the v2 API which will GA later this year. You can follow that work on the new repo: https://github.com/Azure/azure-cosmos-js

[2018-06-05 18:11] #231 closed

[2018-06-05 18:15] benc-uk commented on #231
Great! Thanks @christopheranderson . From even a quick 5 minute glance I can see the new API and library is huge improvement

[2018-06-05 18:17] christopheranderson opened #241 "New repo"
Hey folks,

We now have a new repo we'll be working out of for new features. https://github.com/Azure/azure-cosmos-js

We went with a new repo because we are planning a fairly dramatic breaking change (new package name, new APIs, works in more than just Node.js, etc.), so we anticipate maintaining this library and package in maintenance mode for a while (though no announcement yet on what that pla

[2018-06-05 18:23] christopheranderson commented on #228
(Sorry for the latency here)

You need to remove the write region from preferred regions. It will use any of the preferred regions. Remove Australia East and reads should go to Australia Southeast.

[code]

[2018-06-05 18:23] #228 closed

[2018-06-05 18:23] #227 closed

[2018-06-05 18:28] #195 closed

[2018-06-05 18:28] #194 closed

[2018-06-05 18:30] christopheranderson commented on #185
Addressed in the new major version (since it is already promisified). We will export the class, though, for testing/mocking purposes.

[2018-06-05 18:30] #185 closed

[2018-06-05 18:33] christopheranderson commented on #184
Closing because this is an old issue and the problem isn't clear. Please open a new issue if this is still causing problems.

[2018-06-05 18:33] #184 closed

[2018-06-05 18:33] christopheranderson commented on #183
Not currently supported.

[2018-06-05 18:33] #183 closed

[2018-06-05 18:42] christopheranderson commented on #179
This is fixed now

[2018-06-05 18:42] #179 closed

[2018-06-05 18:43] christopheranderson commented on #172
I like this idea for `query.forEach()` in the v2 SDK. I was thinking the same thing before seeing this issue.

[2018-06-05 18:44] christopheranderson commented on #165
Stale (but some of these issues are addressed in the v2 SDK which has tests properly separated.

[2018-06-05 18:44] #165 closed

[2018-06-05 18:48] christopheranderson commented on #152
Think it makes the most sense for folks trying to do this to use the Mongo API for Cosmos DB.

Otherwise, this would be an issue for the Meteor application itself, but they are unlikely to want to use Cosmos DB due to being an Azure only product and they don't have direct support for running off their PaaS (to my knowledge, I could be wrong)...

[2018-06-05 18:48] #152 closed

[2018-06-05 18:49] christopheranderson commented on #138
This is a goal in v2. Closing since this is tracked there.

[2018-06-05 18:49] #138 closed

[2018-06-05 18:51] christopheranderson commented on #192
This is supported now.

[2018-06-05 18:51] #192 closed

[2018-06-05 19:08] christopheranderson commented on #180
PR for this is here: https://github.com/Azure/azure-documentdb-node/pull/181

[2018-06-05 19:16] christopheranderson commented on #116
This is supported.

[2018-06-05 19:16] #116 closed

[2018-06-05 23:10] beneuto commented on #228
That doesn't work.   It still goes to the write region.   Regardless, the aim is to balance load over both regions.

[2018-06-06 15:13] chhantyal commented on #175
@schechd did you find solution for this?

[2018-06-06 16:33] StephenWeatherford commented on #227
What do you mean by "Azure tools"?

[2018-06-27 13:52] yeya opened #243 "Missing documentation for proxy settings"
[This PR](https://github.com/Azure/azure-documentdb-node/pull/220/commits/3952dfb89a23023d0bae46c704049b45cf5547e3) has been already merged, but I can't find any documentation how to use or initialize the `connectionPolicy` Object

How should I use it?

[2018-06-27 17:50] moderakh commented on #243
Hi @yeya

You can use this code sample for setting proxy endpoint in ConnectionPolicy and using it:

setting proxy in connectionpolicy:
https://github.com/Azure/azure-documentdb-node/blob/master/source/test/proxyTests.js#L53-L55

instantiating DocumentClient with the given policy:
https://github.com/Azure/azure-documentdb-node/blob/master/source/test/proxyTests.js#L60

[2018-06-27 17:56] yeya commented on #243
#solved
Thanks.
It's really missing in the documentation.

On Wed, Jun 27, 2018, 20:50 Mohammad Derakhshani <notifications@github.com>
wrote:

[2018-06-27 17:59] moderakh commented on #243
@yeya thanks for reporting it. You are right. We will fix the documentation.

[2018-06-27 18:05] #243 closed

[2018-07-02 19:39] StephenWeatherford opened #244 "Need way to set/add to user agent"
(I don't think this is the same request as #234)

I need a way to set the user-agent for the document client.  Right now I can do this by modifying defaultHeaders directly on the client, but this isn't exposed in the Typescript definition, so I'm not sure if it just needs to be added, or if this would be relying on internal implementation details.  Thanks.

[2018-07-05 21:23] JasonGreenAmerica commented on #82
@julielerman how did you get docs out of your path. I'm seeing the trailing "docs" in the swift sdk.
"dbs/Ninjas/colls/Ninjas/docs/"

[2018-07-06 10:06] ravievontech opened #245 "Can not connect to documentdb"
I am not able to connect to azure documentdb. Its throwing error:

{ Error: Client network socket disconnected before secure TLS connection was established
    at TLSSocket.onConnectEnd (_tls_wrap.js:1092:19)
    at Object.onceWrapper (events.js:273:13)
    at TLSSocket.emit (events.js:187:15)
    at TLSSocket.EventEmitter.emit (domain.js:442:20)
    at endReadableNT (_stream_readable.js:1086:12)

[2018-07-09 19:13] srinathnarayanan commented on #244
@christopheranderson can you please take a look at this? Thanks.

[2018-07-09 19:14] srinathnarayanan commented on #245
Hi @ravievontech how often are you seeing this issue? Can you connect to the service now?

[2018-07-10 06:33] so-ravindra commented on #245
@srinathnarayanan the issue is resolved. The problem was the port i was using.

[2018-07-10 06:35] ravievontech commented on #245
@srinathnarayanan Hi, the problem is resolved. The problem was the port i was using. Thanks

[2018-07-10 18:11] srinathnarayanan commented on #245
Will close this issue. Thanks.

[2018-07-10 18:11] #245 closed

[2018-07-16 20:06] avinash0310 opened #247 "Parameterize CosmosDB query with IN clause"
I'm looking for any working way to parameterize IN clause in query.
I have tried something like this, But not working.
[code]
To create this "`(@Shipper0, @Shipper1)`", did some c# coding.
Without params same query working fine.
`List<string> list = new List<string>();`
Working query: ==> **`$"Select r.id, r.Shipper.Name AS Shipper FROM root r Where r.Shipper.Name IN ( '{string.Join("', '", list)}

[2018-07-17 18:18] srinathnarayanan commented on #247
@bchong95 can you please take a look at this?

[2018-07-19 19:12] gratereaux commented on #116
This issue is close... so what`s the solution?

[2018-07-26 22:52] samuelkilada opened #248 "connectionPolicy.EnableEndpointDiscovery and the Emulator"
Hello,

When running the emulator on a server for dev purposes and connecting from another PC, it took sweat and tears to get this to work. I knew it was connecting to the remote emulator, but it was timing out for any queries. The answer? Add this to the connection policies:

connectionPolicy.EnableEndpointDiscovery = false;

Don't ask me why that fixes it, I just want other people to be aware in

[2018-07-28 14:46] graham-sportsmgmt opened #249 "DEPTH_ZERO_SELF_SIGNED_CERT error with emulator"
node.js version 8.11.1
documentdb sdk version 1.14.5
Windows 10 X64 17713_rs5

I set up the documentdb emulator per [the instructions here](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator).

Every request to documentdb produced this error:

[code]

I was able to solve this using the information provided in [this issue](https://github.com/Azure/azure-documentdb-node/issues/157) and

[2018-08-01 05:12] juiyout commented on #152
Still need OPLOG though, which CosmosDB has none.

[2018-08-02 00:25] christopheranderson commented on #249
1. I think this is really up to how you manage your config, but there are a few ways to manage this. We can't generalize enough to put this in the SDK, but it's fairly common to have some code like:

[code]

If you don't feel comfortable with that auto-discovery from localhost, then have an environment variable with config option like:

[code]

I'd advocate a lot of your config should be able to b

[2018-08-02 00:25] #249 closed

[2018-08-02 00:29] christopheranderson commented on #244
The way to do this today is to set it on the documentClient after it is created (aka monkey patch).

[code]

In the next version of the SDK, https://github.com/azure/azure-cosmos-js, this will be available in the constructor so you don't have to monkey patch.

[2018-08-02 00:29] #244 closed

[2018-08-02 00:30] christopheranderson commented on #248
This is interesting. I'll take a look.

[2018-08-09 14:45] vinnytheviking opened #250 "Trying to use @azure/cosmos causes exception"
Good afternoon,

I'm trying to access cosmosdb from a react/typescript application. I've imported the library and trying to just read a database. I'm using the v2 @azure/cosmos npm rather than documentdb npm. I was getting CORS issues with documentdb so trying to see if v2 fixes that.

These are the exceptions showing in the client.

ERROR in [at-loader] ./node_modules/@azure/cosmos/lib/queryItera

[2018-08-09 20:17] southpolesteve commented on #250
@vinnytheviking Can you open this same issue over in https://github.com/Azure/azure-cosmos-js? We'll track it there.

[2018-08-09 20:17] #250 closed

[2018-08-20 05:34] tony-gutierrez commented on #75
There is no sample or documentation on how to use the retry policy?

[2018-08-30 20:34] knaras opened #251 "Azure ML Error"
I am getting this error in Python 3 Notebook:
AzureMLUnauthorizedError: Unauthorized, please check your workspace ID and authorization token ({"Error":{"Code":"UserError","Message":"Attempted access to https://studioapi.azureml.net/api/workspaces/594546692e674ca9a7e702f1590ad07f/experiments is not authorized and has been denied.","Target":null,"Details":[],"InnerError":null,"DebugInfo":null}})

[2018-08-30 20:35] knaras commented on #251
THE CODE IS AS FOLLOWS:
from azureml import Workspace
ws = Workspace(workspace_id = '594546692e674ca9a7e702f1590ad07f',
              authorization_token = '+GxGlr3YAObtnNXpc6GBoGQQnoF/UfaxU7lPa+GgKnzQf2//A0eBLMubNgfPRbj5KqelQMB2HiJ/URnRmwPG6g==')
experiment = ws.experiments['594546692e674ca9a7e702f1590ad07f']
ds = experiment.get_intermediate_dataset(
    node_id='ff56d765-8aa4-40f6-aa9c-dcd24dbf5

[2018-09-07 07:47] #247 closed

[2018-10-02 12:58] jbrozena22 opened #252 "ORDER BY clause removes continuation token header"
I'm using the older style documentdb API, but the latest version 1.14.5. My issue is that if I include an ORDER BY clause in my query, the x-ms-continuation header that I expect to see returned never appears. Note that I am using a partitioned CosmosDB collection with >10 results, meaning I should be getting multiple pages of responses.

Code:
[code]

If you run this code you get the response:

No

[2018-10-02 16:52] moderakh commented on #252
@jbrozena22

You can keep the state of the queryIterator in memory and paginate through the pages to get all the results.

Please see this as an example:
https://github.com/Azure/azure-cosmosdb-node/blob/master/source/test/crossPartitionTests.js#L684-L699

This is a test case with many different ways of retrieving all the results for the orderby query; it should help as a sample.

[2018-10-02 17:12] jbrozena22 commented on #252
Thank you for the reply. The query I'm running could potentially return millions of records, and since I'm feeding this data to a client on the web it's not possible to retrieve everything then pipe it back to them. The client just needs to be able to view ~10 records at a time, then go to the next page.

I also cannot just keep the queryIterator in memory. The architecture I'm building is a javas

[2018-10-02 17:17] moderakh commented on #252
@jbrozena22 currently the sdk's support for continuation token has some limitation. You won't get continuation token for cross partition order by.

If you change query to only target a single partition you will get continuation token. Maybe that helps.

[2018-10-16 22:53] christopheranderson commented on #251
I think you have the wrong repo. This is the Cosmos DB Node SDK repo. Your code is Azure ML and Python based. Try here maybe? https://github.com/Azure/Azure-MachineLearning-ClientLibrary-Python

[2018-10-16 22:53] #251 closed

[2018-10-17 18:10] PrashanthCorp commented on #187
Is there a workaround to this?

[2018-10-31 22:31] dgolds commented on #152
Is this sufficient for an OPLOG equivalent? https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed.

[2018-10-31 22:43] davidjytang commented on #152
Though it seems some custom tooling is needed, I reckon this is a good direction forward. I only wish this could be a drop-in replacement for OPLOG.

[2018-10-31 23:06] meteorplus commented on #152
So Azure can't even Oplog? what a shame...

[2018-11-20 08:01] CoolRice opened #253 "How to config retry max count for endpoint?"
When DB is down, it keeps output "Error trying to connect, refreshing the regions list from database account and will retry the request.", even if I have set maxRetryAttemptCount for RetryOptions.
[code]

Then I looked source code. It seems that maxRetryAttemptCount is hardcoded to 120 and no way to override it.
https://github.com/Azure/azure-cosmosdb-node/blob/15cf138373beb86b9678e5cb4d09ad2c2fe1

[2018-12-11 16:29] tedyyu opened #254 "Query: what's the difference between this lib and azure-cosmos-js"
this: https://github.com/Azure/azure-cosmosdb-node/
that: https://github.com/Azure/azure-cosmos-js/

thanks in advance.

[2018-12-11 16:32] southpolesteve commented on #254
@tedyyu This repo is version 1 of the SDK, while https://github.com/Azure/azure-cosmos-js/ is version 2 and other future versions. You should be using Azure/azure-cosmos-js for new projects and also migrating old projects if possible. I'll talk with the team about adding some docs to make this clearer.

[2018-12-11 16:32] #254 closed

[2018-12-11 16:35] tedyyu commented on #254
thanks for quick response, really answers my puzzle. @southpolesteve

[2018-12-12 18:14] timmyreilly commented on #250
The issue on the other repo: https://github.com/Azure/azure-cosmos-js/issues/100

[2019-01-14 10:40] GustavoMoreiraPT commented on #248
Hi @christopheranderson @samuelkilada,

Just saw your post.
Did you find anything about this issue?
I have a project where I am using Cosmos emulator for developing purposes.
With EnableEndpointDiscovery set to true, after a first successful request, if I turn of the emulator, the request is taking 4/5 minutes before timing out.
I need this property set to true in live environment.

Is this only h

[2019-01-14 10:46] GustavoMoreiraPT commented on #228
Hi @beneuto, @srinathnarayanan and @christopheranderson

Just saw your post.
Did you find anything about this issue?
I have a project where I am using Cosmos emulator for developing purposes.
With EnableEndpointDiscovery set to true, after a first successful request, if I turn of the emulator, the request is taking 4/5 minutes before timing out.
I need this property set to true in live environment

[2019-01-14 10:50] GustavoMoreiraPT commented on #253
Hi @CoolRice ,

Do you still have this issue?
When I have EnableEndpointDiscovery set to true, and then I turn off cosmos, it takes 4 to 5 minutes before timming out.
I need to force this to timeout after 5 seconds or so, but I could not get any workaround.

Did you find one?

Thank you,

Gustavo

[2019-01-31 19:35] inos2006 commented on #252
I have thousands of data that I am querying from cosmos db with invoke rest method. I wanted to keep "x-ms-max-item-count" = 1000 and use x-ms-continuation to get to the next page when my PowerShell script run for the next time. But it is throwing 400 bad request. How do I fix it or is there any limitation of the cosmos db over the rest api call?

[2019-01-31 19:43] inos2006 opened #255 "continuation token not working when querying cosmos db by invoke rest method"
I have thousands of data that I am querying from cosmos db with invoke rest method. I wanted to keep "x-ms-max-item-count" = 1000 and use x-ms-continuation to get to the next page when my PowerShell script run for the next time. But it is throwing 400 bad request. How do I fix it or is there any limitation of the cosmos db over the rest api call?

[2019-04-03 14:24] JannesV commented on #156
I can confirm this is still an issue, the workaround works but it's not very clear. Seeing there is no documentation surrounding this whatsoever.

[2019-04-15 10:18] pebo commented on #156
Any plans for adding parameter support for IN queries or documenting the known limitations and workarounds?

[2019-05-21 13:40] roghernandez commented on #200
2019 still getting this error as well

[2019-05-21 14:49] southpolesteve commented on #200
@roghernandez @divyanshch89 which SDK version are you using? If this is on the latest v2 SDK, I'll reopen this issue over in that repo

[2019-06-07 22:04] ribsthakkar commented on #200
@roghernandez I am experiencing this issue on Java SDK v2.4.3

[2019-06-07 23:21] southpolesteve commented on #200
@ribsthakkar Can you open an issue on the Java repo? https://github.com/Azure/azure-cosmosdb-java This one is for our older JavaScript SDK

[2019-06-10 15:00] ribsthakkar commented on #200
Just did:
https://github.com/Azure/azure-cosmosdb-java/issues/180

[2019-07-11 20:40] bharatvijji opened #256 "saving bool value in cosmosdb"
i am trying to save boolean value in cosmosdb, When i save the value as true i can see the property value as true but when i save the value as false the property is missing. Any help appritiated

[2019-07-11 20:42] southpolesteve commented on #256
@bharatvijji Are you using the latest version of the SDK over here? https://github.com/Azure/azure-cosmos-js. This repo is for our older v1 SDK. Could you provide a simple sample script that reproduces the issue?

[2019-07-11 20:43] bharatvijji commented on #256
i am using c# to save it

[2019-07-11 20:44] #256 closed

[2019-07-11 20:44] bharatvijji commented on #256
creating issue in c# branch

[2019-07-30 22:36] EricDahlvang commented on #255
I'm not receiving an x-ms-continuation:

[code]

It is very difficult to find documentation too.  I guess I'm switching back to DocumentClient.

[2019-07-31 03:11] southpolesteve commented on #234
The v3 SDK now allows you to pass a custom agent https://github.com/Azure/azure-cosmos-js/issues/386#issuecomment-514835539

[2019-07-31 03:11] #234 closed

[2019-07-31 03:12] southpolesteve commented on #240
This is supported in the v3 SDK: https://github.com/Azure/azure-cosmos-js

[2019-07-31 03:12] #240 closed

[2019-08-01 06:17] adihe commented on #208
Yes this feature is crucial.

[2019-08-01 16:04] southpolesteve commented on #208
@adihe ChangeFeed is supported in our v3 SDK https://github.com/Azure/azure-cosmos-js/blob/master/samples/ChangeFeed.ts

[2019-08-01 16:04] #208 closed

[2019-08-01 19:32] bingbing8 commented on #156
ARRAY_CONTAINS does not work for me either

[2019-08-05 06:28] adihe commented on #208
Thank you very much.

[2019-08-08 01:08] vathakur commented on #156
@bingbing8 ARRAY_CONTAINS works for me. Mistake that I was doing before was to enclose the array in double quotes and values in single quotes like `"['aa448e10-88a7-448a-b385-124d02624ffe', '1fccbe54-6ed0-4c88-87ad-2b10d86d8990', `'6082b3bf-c472-4a30-a387-24c18495e6ba']"
However, it works like below
`["aa448e10-88a7-448a-b385-124d02624ffe", "1fccbe54-6ed0-4c88-87ad-2b10d86d8990", "6082b3bf-c472-4a

[2019-09-09 13:13] #180 closed

[2019-09-20 17:14] southpolesteve commented on #255
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package `@azure/cosmos` as soon as possible. If you encounter any issues, you can raise them in the [Azure central SDK repo](https://github.com/Azure/azure-sdk-for-js). If something is preventing you from

[2019-09-20 17:14] #255 closed

[2019-09-20 17:16] southpolesteve commented on #253
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:16] #253 closed

[2019-09-20 17:16] southpolesteve commented on #248
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:16] #248 closed

[2019-09-20 17:17] southpolesteve commented on #238
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:17] #238 closed

[2019-09-20 17:17] southpolesteve commented on #225
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:17] #225 closed

[2019-09-20 17:18] southpolesteve commented on #198
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:18] #198 closed

[2019-09-20 17:18] southpolesteve commented on #236
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:18] #236 closed

[2019-09-20 17:18] southpolesteve commented on #229
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:18] #229 closed

[2019-09-20 17:18] southpolesteve commented on #187
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:18] #187 closed

[2019-09-20 17:19] southpolesteve commented on #172
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:19] #172 closed

[2019-09-20 17:19] southpolesteve commented on #168
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:19] #168 closed

[2019-09-20 17:19] southpolesteve commented on #122
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:19] #122 closed

[2019-09-20 17:19] southpolesteve commented on #235
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:19] #235 closed

[2019-09-20 17:19] southpolesteve commented on #224
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:19] #224 closed

[2019-09-20 17:20] southpolesteve commented on #119
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:20] #119 closed

[2019-09-20 17:20] southpolesteve commented on #78
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:20] #78 closed

[2019-09-20 17:20] southpolesteve commented on #51
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) as soon as possible. If you encounter any issues, you can raise them in the [Azure central JS SDK repo](https://github.com/Azure/azure-s

[2019-09-20 17:20] #51 closed

[2019-09-20 20:28] #241 closed

[2019-09-20 20:29] southpolesteve opened #257 "Cosmos v1 SDK has been deprecated. Upgrade to @azure/cosmos"
We have recently announced deprecation version 1.x of the Azure Cosmos JavaScript SDK. We will end support for the `documentdb` package and this repo on August 30, 2020. Please update to our new package `@azure/cosmos` as soon as possible. If you encounter any issues, you can raise them in the [Azure central SDK repo](https://github.com/Azure/azure-sdk-for-js). If something is preventing you from

[2019-11-14 05:36] Shawngbk commented on #257
Hi @southpolesteve

May I consult an general advisory question about latest JS SDK?

Assuming there is a Bot services using Cosmo DB. The whole system has been in production for about 12 months. To comply with your JavaScript SDK updates do I need to update the source code of the Bot and redeploy the system to production? Or the existing system in production won’t be affected by the SDK?

If we mu

[2019-11-22 03:26] gahoba commented on #247
Hello,
   Is this issue still open.  would like to know how this was resolved.

[2019-11-25 02:48] southpolesteve commented on #247
@gahoba This issue is quite old so I don't know the history, but this works for me in the latest JS SDK:

[code]

FYI one of our query team posted an answer on stack overflow that has some more details and a way to do this using ARRAY_CONTAINS https://stackoverflow.com/questions/44636971/where-in-with-azure-documentdb-cosmosdb-net-sdk/44639998#44639998

If you run into other issues, please open th

[2020-03-10 18:50] willnix86 opened #258 "Parameterized SQL queries with IN keyword"
Creating a new issue as #247 was closed but it is still an issue as evidenced by the comments in the closed ticket, and my own experience with CosmosDB

[2020-03-10 19:36] southpolesteve commented on #258
The last comment (https://github.com/Azure/azure-cosmosdb-node/issues/247#issuecomment-557965650) has a query that was working for me in the latest SDK. Can you provide code that reproduces the issue you are seeing?

I also highly recommend upgrading to `@azure/cosmos` SDK. `documentdb` has been deprecated.

[2020-06-29 17:23] adam-carter-fms opened #259 "Item cannot be found with .item but can with .items.query"
When I call `container.item(id)`, with an ID I know exists in the container, I get an `ItemResponse` with `statusCode: 404` and `resource: undefined`. However, when I query the container using a `WHERE` clause for the ID, the item is returned. I'm using @azure/cosmos 3.5.2 and node 12.

Code to reproduce:

[code]

My output:
[code]

[2020-06-29 17:32] southpolesteve commented on #259
@adam-carter-fms This looks like an issue with the latest SDK which now lives here: https://github.com/Azure/azure-sdk-for-js I am going to transfer the issue over there.

[2020-06-29 17:35] southpolesteve commented on #258
Closing this issue as stale. If you are still encountering issues, please file an issue in the new central Azure SDK repo: https://github.com/Azure/azure-sdk-for-js

[2020-06-29 17:35] #258 closed

[2020-07-20 17:32] vikashkumarjangid commented on #102
Hi Getting the same error in Azure function app.

After the 2 minutes to function completion, I got the same error. I am using MongoDb .

[2020-07-22 07:21] davidljuba15031979 commented on #82
My problem was **wrong connection string**.

In _Azure Portal_, I checked and compared `AzureCosmosDBConnectionString` from

 _Function app_ -> _Configuration_

and

 _Azure Cosmos DB Account_ -> _Keys_ -> _Primary connection string_

[2020-10-22 07:24] khandg opened #260 "Could not parse the provided connection string"
Trying to initiate using below:

`const client = new CosmosClient('mongodb://picpaxnutrition:xxxxzzzzzaaaaaaaaaazzz==@picpaxnutrition.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@picpaxnutrition@');`

but getting the subject mentioned error. This is the primary connection string copied from the Azure portal. Have tried the same with the

[2020-10-22 07:28] khandg opened #261 "Cosmos DB timed out"
I am using latest sdk i.e  3.0x but i am not able to connect with cosmos db although iam able to connect with it via Studio 3T on same machine, below is my code:

[code]

It never reaches to `context.log(resources);` and gets timeout on `fetchAll`

[2020-10-22 16:32] southpolesteve commented on #261
Its appears you are trying to use the @azure/cosmos SDK with a Mongo account. This is not supported. Use the official Mongo drivers instead. @azure/cosmos is only used with SQL accounts.

As a side note, this repo is no longer maintained. Development has moved to our unified Azure JS SDK repo https://github.com/Azure/azure-sdk-for-js

[2020-10-22 16:32] #261 closed

[2020-10-22 16:32] southpolesteve commented on #260
Its appears you are trying to use the @azure/cosmos SDK with a Mongo account. This is not supported. Use the official Mongo drivers instead. @azure/cosmos is only used with SQL accounts.

As a side note, this repo is no longer maintained. Development has moved to our unified Azure JS SDK repo https://github.com/Azure/azure-sdk-for-js

[2020-10-22 16:32] #260 closed

[2021-02-17 12:12] faustofjunqueira commented on #82
Hy people,
At this moment, I have the same problem. In my case, my clock is wrong! I fix the time and redo the request. I hope help someone.

[2021-08-18 10:49] harikapampatti opened #262 "Azure Cosmos DB Library invoking twice"
Hi,

Iam using RBAC to establish the connection to cosmosdb but its making a call to login.microsoftonline.com twice.
why 2 calls are being invoked?

Attached below sceenshot for refence.
![image](https://user-images.githubusercontent.com/48385777/129885280-f413c21e-f01e-414d-85e0-057b5891a74b.png)

below is my code

[code]

Can anyone please help  ..what is the rationale behind the call?

Thanks

[2021-08-18 13:29] zfoster commented on #262
Hi @harikapampatti this repo is deprecated - https://github.com/Azure/azure-cosmosdb-node#deprecated-

Please refer to https://github.com/Azure/azure-sdk-for-js for creating new issues related to the cosmos node SDK

[2021-08-18 13:29] #262 closed

[2021-09-15 12:49] rahul230691 commented on #215
@srinathnarayanan is continuation token still not supported for a cross-partition query? Sometimes I get "**the continuation token specified in the request is malformed**" exception or sometimes I get "**Invalid format for continuation token**" exception. Help please @kirankumarkolli

[2022-03-10 19:15] gerardsimons commented on #82
Forgot to change the URL when I did change the key, thanks for the comments here for pointing me in the right direction!

[2022-05-20 02:26] RobbieLD commented on #249
Anyone looking for the updated solution to this it's [here](https://github.com/MicrosoftDocs/azure-docs/issues/57861)

[2022-11-28 19:36] microsoft-github-policy-service[bot] opened #264 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance